[2015-08-17 12:11] tomazas opened #1 "Concurrent AVP encoding issue - AvpDataException: Not enough data in buffer!"
Hi all,

We have found 2 concurrency issues with AVP encoding/decoding when doing load tests.
1. Ecoding problem causes such exceptions:

[code]

And also a BufferOverflow in the end:

[code]

Problem - encoded/decoded Diameter packets get corrupted (missing child AVPs).

Reason - This is due to the fact that the function [getGrouped](https://github.com/Mobicents/jdiameter/blob/master/core/jdiamet

[2015-09-30 13:21] shark300 opened #3 "Network breakdown cause a file descriptor leak"
Hi,

I found a file descriptor leak after a network breakdown. The root cause is     socketChannel.connect(destAddress) in TCPTransportClient.java. I got this exception on Red Hat Enterprise Linux Server release 7.1 (Maipo) during breakdown:

[code]

[2015-09-30 13:40] shark300 commented on #3
I used this code to prevent the problem:
[code]

[2015-10-01 08:46] achernish opened #4 "JDiameter issue with Cisco Diameter server"
Hi all,

I have some issue, which looks strange to me. Could you have a look into?

I'm trying to send CER message to our Cisco diameter server. According to log file, which I'm getting, CER is received from Cisco side and CEA was replied back to my jdiameter client. For some reason, jdiameter client is not able to process

it in right way and keep trying to send CER (my listener is never called b

[2015-10-01 16:39] shark300 commented on #3
I impoved my code because sometimes I got this exception whitch cause FDS again:
[code]

[code]

[2015-10-05 16:30] achernish commented on #4
Ok, problem is solved. Stack itself generates CER, DPR without extra efforts. In my case, I have tried to send CER from session, which caused that problem.

[2015-10-05 16:30] #4 closed

[2015-10-22 12:17] manaty opened #5 "Mux deployment on jboss 7.2 or 7.3"
When deploying mobicents-diameter-mux-1.6.0.FINAL.sar on jboss 7.2.0final or EAP6.2 we obtain the error :
[2:02:56 PM] Antoine Michéa: Caused by: java.lang.NoClassDefFoundError: org/jboss/system/ServiceMBean
[2:03:01 PM] Antoine Michéa: Caused by: java.lang.ClassNotFoundException: org.jboss.system.ServiceMBean from [Module "deployment.mobicents-diameter-mux-1.6.0.FINAL.sar:main" from Service Modul

[2015-10-22 12:56] manaty opened #6 "Mux deployment on jboss 7.2 or 7.3"
When deploying mobicents-diameter-mux-1.6.0.FINAL.sar on jboss 7.2.0final or EAP6.2 we obtain the error :
Caused by: java.lang.NoClassDefFoundError: org/jboss/system/ServiceMBean
Caused by: java.lang.ClassNotFoundException: org.jboss.system.ServiceMBean from [Module "deployment.mobicents-diameter-mux-1.6.0.FINAL.sar:main" from Service Module Loader]
        at org.jboss.mod
WARN  [org.jboss.module

[2015-10-27 17:26] deruelle commented on #5
Duplicate of #6

[2015-10-30 03:55] #5 closed

[2015-10-30 03:56] #6 closed

[2015-11-24 23:13] brainslog commented on #1
Thanks for reporting this and submitting the patch. I will be reviewing it shortly and applying it. Unfortunately the PR has been updated with other commits, would be good that it would be isolated.. the situation where the peer gets added to the peer table multiple times has been fixed with https://github.com/Mobicents/jdiameter/commit/547b3b1f28603ec725d953cefb207a0b99969dd6

[2015-12-24 02:23] brainslog opened #11 "Support RFC 6733 ([Updated] Diameter Base Protocol)"
Mobicents Diameter Stack should support the updated Diameter Base Protocol, as of [RFC 6733](http://tools.ietf.org/html/rfc6733).

This issue should serve as an umbrella issue for the several changes introduced (for which individual issues should be created) and a placeholder for it's general discussion.

[2015-12-24 02:29] brainslog opened #12 "Support Alternative and Configurable (pluggable) Diameter Load-Balancing Algorithms"
Currently the peer selection is based on the rating of a peer in a certain realm. Different load-balancing techniques should be possible, such as round-robin, evaluating certain AVP values, etc.

These algorithms should be an extension point for the Mobicents Diameter Stack.

[2015-12-24 02:30] brainslog opened #13 "Integrate Diameter with Mobicents Load Balancer"
In most SIP+Diameter scenarios it should be required that the related SIP and Diameter messages for the same session are delivered to the same node (colocation).

For such behavior it is needed to create a specific algorithm for the Mobicents Load Balancer capable of interpret and relate SIP and Diameter messages.

[2015-12-24 02:37] brainslog opened #14 "Improve support for Transport Layer Security (TLS) protocol"
Currently the TLS support in Diameter stack is somewhat "proprietary", based mostly on the way RFC 6733 specifies, and it's known to work properly between two jDiameter instances but not so much with other stack implementations.

This should be revised and made available in both modes (RFC 3588 and RFC 6733), being defined by configuration (if possible, on a per peer basis).

It should be tested a

[2015-12-24 02:41] brainslog opened #15 "Create/Improve documentation on developing with Mobicents Diameter Stack"
Currently there's little developer documentation related to Mobicents jDiameter Stack/MUX.

It should be improved with more detailed explanation of the components, flows and examples on how to develop on top of Mobicents jDiameter Stack.

[2015-12-24 02:54] brainslog opened #16 "Improve, Test and create Example for Diameter as a RELAY agent"
Mobicents jDiameter Stack has minimal support for functional nodes other than Server or Client, such as Relay, Proxy, Redirect and Translation. This support should be improved and create some tests/examples to exemplify on how to use it in Mobicents jDiameter Stack.

[2015-12-24 02:54] brainslog opened #17 "Improve, Test and create Example for Diameter as a PROXY agent"
Mobicents jDiameter Stack has minimal support for functional nodes other than Server or Client, such as Relay, Proxy, Redirect and Translation. This support should be improved and create some tests/examples to exemplify on how to use it in Mobicents jDiameter Stack.

[2015-12-24 02:55] brainslog opened #18 "Improve, Test and create Example for Diameter as a REDIRECT agent"
Mobicents jDiameter Stack has minimal support for functional nodes other than Server or Client, such as Relay, Proxy, Redirect and Translation. This support should be improved and create some tests/examples to exemplify on how to use it in Mobicents jDiameter Stack.

[2015-12-24 02:55] brainslog opened #19 "Improve, Test and create Example for Diameter as a TRANSLATION agent"
Mobicents jDiameter Stack has minimal support for functional nodes other than Server or Client, such as Relay, Proxy, Redirect and Translation. This support should be improved and create some tests/examples to exemplify on how to use it in Mobicents jDiameter Stack.

[2015-12-24 02:56] brainslog opened #20 "(Re)Create Diameter ongoing Sessions and Retrieve Session Object by ID"
Add support for (re)creating a Diameter lost/non-existing session, for instance, when receiving and UPDATE_EVENT or TERMINATE_EVENT CCR for a non-existing session.

[2015-12-24 02:57] brainslog opened #21 "Stop using ThreadGroup and remove references to it"
Using ThreadGroup is not recommended and it has already brought some problems. It's usage should be replaced and references to it (docs, config) removed.

[2015-12-24 02:58] brainslog opened #22 "Diameter Stack: Minimize Configuration Lookup"
For instance, on each message send, the following is performed:

`long timeOut = container.getConfiguration().getLongValue(MessageTimeOut.ordinal(), (Long) MessageTimeOut.defValue());`

Behaviors like this should be replaced by storing the configuration value in a local variable.

[2016-02-03 07:09] richardgood opened #23 "Memory leak in jDiameter"
Hi

We've found a possible memory leak for Diameter session based RAs (e.g. Rx, Ro, Gx).  I want to see if the dev team agrees before raising it as a bug fix.

Looking just at Ro:
org.jdiameter.server.impl.app.ro.ServerRoSessionImpl.java

For CCA-U has Result-Code != SUCCESS the state machine does the following:

case SENT_UPDATE_RESPONSE:

RoCreditControlAnswer answer = (RoCreditControlAnswer) lo

[2016-02-09 20:43] mnowa opened #24 "Support for ME Identity Check Procedure (S13 and S13' interfaces operation)"
Add support for Mobile Equipment Identity Check Procedure consisting of ME-Identity-Check-Request (**ECR**) and ME-Identity-Check-Answer (**ECA**) diameter messages use by S13 (between MME and EIR)  and S13’ (SGSN and EIR) reference points.
Both S13 and S13’ interfaces use same **application id 16777252**.  The diameter **command code** is **324**
For more information refer to chapter 6 of [3GPP T

[2016-03-03 00:12] brainslog opened #25 "Support SCTP Multi-Homing"
Currently the stack has basic support for SCTP. It should be investigated what (if anything) is required to support SCTP Multi-Homing feature and implement it.

[2016-03-08 08:53] richardgood opened #26 "Logger objects should be static final"
Hi

During profiling we found that many logger objects are made as local objects, so are re-created wasting lots of processing.

Suggest that you replace all:
protected Logger
with
protected final static Logger

Everywhere in the project.

[2016-03-17 13:18] shark300 opened #27 "shutdown problem with TCP under Tomcat"
This issue is copied from googlecode (Issue 71 in jdiameter: shutdown problem with TCP under Tomcat)

What steps will reproduce the problem?
1.Configure for TCP
2.Run as webapp under tomcat
3.shutdown tomcat.

What is the expected output? What do you see instead?
Tomcat is not able to stop due to org.jdiameter.server.impl.io.tcp.NetworkGuard's Executor (binder) which is never shuted down.

What ve

[2016-03-17 13:22] deruelle commented on #27
Hi @shark300

Could you do a formal Pull Request following our [Open Source guidelines](https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit#heading=h.mcjitemt6ng1) ?

Thanks in advance !

[2016-03-17 13:23] shark300 commented on #27
Hi @deruelle

Ok.

[2016-03-17 13:24] deruelle commented on #27
@shark300

Thanks. can you also sign the contributor license agreement at http://www.telestax.com/open-source/#Contribute so we can accept the contribution ?

[2016-03-17 13:35] shark300 commented on #27
@deruelle I sent to you an email.

[2016-03-17 14:48] shark300 opened #28 "Avoid BufferOverflowException"
This issue is copied from googlecode (Issue 77 in jdiameter: Avoid BufferOverflowException)

What steps will reproduce the problem?
1. Use client with high through output (600 TPS and each message ~1 KB) and TCP connection
2. Stop and start Diameter server

What is the expected output? What do you see instead?
Expected: no exception and the connection is restored automatically. I get many BufferOv

[2016-03-18 07:46] chathsuom commented on #22
Hi,
Just to get more understanding. Is the requirement is like below,
define,
protected long defaultMessageTimeOut = container.getConfiguration().getLongValue(MessageTimeOut.ordinal(), (Long) MessageTimeOut.defValue());

and then use in a method

Or,

protected static final Configuration configuration  = Configuration.getInstance();

and get the values in methods as and when required?

Sorry if th

[2016-03-18 12:37] brainslog commented on #22
The idea would be to reduce the actual configuration values lookup, this was an old issue so the whole context behind it and how I thought it could work isn't fresh in my mind. I recall this came up as result of some profiling where these calls had some impact.

There's a concern where these configuration values are modifiable at runtime, so "caching" them might not be always possible, or has to b

[2016-03-21 12:42] deruelle commented on #26
Merged #30

[2016-03-21 12:42] #26 closed

[2016-03-25 01:09] chathsuom commented on #22
Hi, As per my understanding it requires a change in configuration loading methods/class's.
I found a way for jboss configurations to auto load, but jdiameter uses an its own configuration loading class.(if i am correct)
Can I have some more guideline for this to proceed?

[2016-04-04 22:57] brainslog commented on #22
Hi @chathsuom. Yes, jDiameter uses it's own configuration loading mechanism, independent from jboss.

For this to work we will need to specify a configuration change listener (see https://github.com/RestComm/jdiameter/blob/6e911bf9fe3b7d3e7c9e88ef1b50f88265027c82/core/jdiameter/impl/src/main/java/org/jdiameter/server/impl/helpers/EmptyConfiguration.java#L244) for the specific values which we want

[2016-04-07 08:54] richardgood opened #33 "Ending Diameter activity explicitly from SBB"
One thing I have noted is that unless Diameter activities are ended by their state machine (e.g. a CCR-T message is received) the activities never expire and there is no way for the SBB to remove them.

In the event of (non-Mobicents!) Diameter clients malfunctioning or rebooting this can cause a memory leak.

e.g.
Diameter Gx Client sends CCR-INIT for a certain IP address with session ID ABC
Diam

[2016-04-08 01:02] chathsuom commented on #33
I guess this issue should be list under the RA's ?
https://github.com/RestComm/jain-slee.diameter

Thanks & Best Regards,
Gayan Gunapala
0450717020

On Thu, Apr 7, 2016 at 7:01 PM, Jean Deruelle <notifications@github.com>
wrote:

[2016-04-12 09:38] deruelle commented on #33
@chathsuom yes, indeed. Can you create an issue there linking to this one and fixing/udpating the RAs and do a pull request ?

@brainslog please review

[2016-04-19 10:11] baranchikovaleks opened #34 "Update reference to the sources in documentation"
Hi,

It seems like there is wrong reference here http://docs.telestax.com/category/diameter/ -> step2. There is reference to bitbucket (https://YOUR_USERNAME@bitbucket.org/telestax/telscale-diameter.git), but maybe it should be updated to https://github.com/RestComm/jdiameter/ ?

[2016-04-29 10:44] deruelle commented on #34
@baranchikovaleks thanks for the report, we are currently moving to asciidoc for the documentation, see https://github.com/RestComm/jdiameter/tree/master/core/docs/sources-asciidoc/src/main/asciidoc and result at http://documentation.telestax.com/core/diameter/Diameter_User_Guide.html.

Those URLs have been solved here.

[2016-04-29 10:45] deruelle commented on #34
Would you be interested in converting this tutorial on http://docs.telestax.com/category/diameter/ to asciidoc ?

[2016-05-02 09:29] deruelle opened #35 "Migrate jDiameter to Netty"
Move all the IO layer to Netty.

- [ TCP]
- [ TLS]
- [ SCTP] For SCTP, we can use the Netty-2 branch of https://github.com/Restcomm/sctp/tree/netty-2 and corresponding release from CI Job https://mobicents.ci.cloudbees.com/job/Restcomm-SCTP-Netty/

[2016-05-02 11:19] gfigiel opened #36 "jDiameter Extension - traffic load balancing among peers & failover"
Enhancement of the jDiameter stack according to https://telestax.zendesk.com/hc/en-us/requests/33156

Basic functionality is to add load balancing among peers and failover of Diamtere traffic in case peer is not available.
Failover for protocols errors according to RFC 6733, failover for ongoing session according to RFC 4006.

[2016-05-03 07:51] #24 closed

[2016-05-04 02:51] brainslog commented on #28
This should have been fixed with #31, please reopen if you still experience it.

[2016-05-04 02:51] #28 closed

[2016-05-06 09:40] jehanzebqayyum commented on #35
TCPClientConnection & TCPTransportClient are used by both diameter server and client.
To move to netty this should be refactored into server and client specific transport.
Since server will have both boss and worker group to handle multiple clients.
So server side NetworkGuard functionality will move into TCPServerConnection.

[2016-05-06 14:59] nsowen commented on #36
For peer load balancing, we simply extended RouterImpl and did a override of method selectPeer(List<IPeer> availablePeers). A new router can be configured per stack by setting the following extension point:

  <Extensions>
    <RouterEngine value="net.toscale.jdiameter.WeightedRoundRobinRouter" />
 </Extensions>

To do AVP-based balancing, one could simply override getPeer(IMessage message, IPeerT

[2016-05-06 15:05] deruelle commented on #36
@nsowen definitely interested. Can you share more details ?
Do you want to contribute your extensions back to jDiameter so it benefits others ?

[2016-05-06 15:07] nsowen commented on #36
Absolutely! I will submit some code to Github very soon

[2016-05-06 15:12] deruelle commented on #36
Thanks @nsowen. looking forward to the pull request then !
Can you sign our Contributor License Agreement as well at https://telestax.com/open-source/#Contribute as described in our [Open Source Playbook](https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit#heading=h.5ea6z7w7h6mz) so we can accept the contribution ?

[2016-05-06 15:56] deruelle commented on #14
@coolface88 I assigned the issue to you. Feel free to ask any questions here or/and report back regularly on progress. Thanks !

[2016-05-06 16:04] coolface88 commented on #14
Great! I will do some investigation first. Thanks

[2016-05-06 20:42] jehanzebqayyum commented on #35
I went through the code and seems like changing to netty requires a bit of refactoring or may be i need more understanding of the code.

The problems i am facing specifically are:

1- Client and Server both are using same TCPClientConnection class which I want to separate. I will need some assistance how to do that.
In netty, Server will have 2 thread groups i.e. boss group which accepts clients a

[2016-05-06 20:45] nsowen commented on #36
Done!

[2016-05-06 20:48] deruelle commented on #36
@nsowen received. Thanks ! Looking forward to the Pull Request !

[2016-05-07 16:40] FerUy opened #37 "SLg interface implementation"
SLg interface implementation for LTE Location Services; Evolved Packet Core (EPC) LCS Protocol (ELP) between the GMLC and the Mobile Management Entity (MME) according to 3GPP TS 29.172.

Tied with issue: https://github.com/RestComm/gmlc/issues/2

[2016-05-07 16:42] FerUy opened #38 "SLh interface implementation"
Diameter-based SLh interface implementation for Control Plane LCS for LTE according to 3GPP TS 29.173.

Tied with issue: RestComm/gmlc#2

[2016-05-10 00:56] brainslog commented on #35
Hi @jehanzebqayyum, thanks for your interest in this contribution.

As per your queries, I will try to explain as I can.

In jDiameter it's a common pattern to have the basic/common functionality in the client side and the server extending it with additional features. In this case it's pretty much the same, except the naming might not be the most clear.

So, on the _client_ side we have:
- **TCPTr

[2016-05-10 04:30] coolface88 commented on #14
I have built jDiameter successfully, now I am digging into the code and docs for insights..I am also trying to setup segull and the simulator found in this link http://docs.telestax.com/jdiameter-quick-telscale-diameter-performance-testing-using-seagull/

[2016-05-10 08:55] deruelle commented on #14
Thanks for the update @coolface88 !

[2016-05-11 20:32] jehanzebqayyum commented on #35
Thanks for the guidance. Base on the input i updated TCPClientConnection, TCPClientTransport (NettyTransportClient) and NetworkGuard. Attached updated.

A couple of more questions, hope you do not mind:
1- Should we be reusing the thread pool from IConcurrentFactory or instantiate new ones as defaults in netty's NioEventLoopGroups.
2- In NettyTransportClient orig/source address seems redundant sin

[2016-05-11 20:57] deruelle commented on #35
@jehanzebqayyum it may be easier for review to fork the project, commit your changes in your own branch and do a pull request for review as described in our [Open Source Playbook](https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit#heading=h.mcjitemt6ng1)

[2016-05-13 10:46] deruelle commented on #36
@nsowen any tentative ETA for the Pull request ?

[2016-05-14 19:16] jehanzebqayyum commented on #35
Done. Please review the pull request and provide your comments.
Meanwhile i continue to work on my fork.

Best Regards,
Jehanzeb Qayyum
+971 52 898 2285
+92 3311337064

On Thu, May 12, 2016 at 12:57 AM, Jean Deruelle <notifications@github.com>
wrote:

[2016-05-16 09:49] deruelle commented on #35
Thanks @jehanzebqayyum !

@brainslog will review.

[2016-05-16 11:09] coolface88 commented on #14
I have excuted TLS testing scenarios configured with seagull client and jDiameter server..get an error of SSL_ERROR_WANT_READ from openssl..I will analyse more from tcpdump and enabled debug log.

[2016-05-16 14:51] deruelle commented on #14
Thanks for the update @coolface88, keep us updated

[2016-05-16 16:42] jehanzebqayyum commented on #35
Should TLS negotiation happen in connection establishment or CER/CEA?

Below is what i found out:
For RFC3588 compliant peers TLS (Transport Layer Security) may optionally
be negotiated. For RFC6733 compliant peers TLS negotiation may optionally
happen before the CER/CEA.

Secondly this is what i found for inband security id in RFC6733:

Inband-Security-Id AVP

   The Inband-Security-Id AVP (AVP C

[2016-05-17 01:57] brainslog commented on #14
@coolface88, it's somewhat expected that Seagull and jDiameter won't work properly with TLS. IIRC in jDiameter it's being used RFC 6733 compliant TLS (CER is sent over TLS connection) while seagull uses RFC 3588 TLS (where CER is exchanged and only after successful capabilities negotiation, the transport is upgraded to TLS).

Having the RFC 3588 behavior implemented would be a good first step, aft

[2016-05-17 02:10] coolface88 commented on #14
@brainslog, thanks for your info..it is actually Seagull can work with both RFC 3588 and RFC 6733 based on its configuration scenerios. I was able to test both of them and it worked. At a first glance, I think jDiameter is complying with RFC 3588 not RFC 6733. Anyway I undersand your requirement will do it :)

[2016-05-17 02:22] brainslog commented on #35
@jehanzebqayyum, regarding TLS we are working in parallel on issue #14 . The idea will be to have both ways working. We surely want RFC 6733 behavior to be the default, but most implementations seem to still be using RFC 3588, so we also need to have it for interop.

Implementing RFC 3588 is likely (still) the most useful and the most challenging one, so that'd be a good start :)

[2016-05-19 21:57] gfigiel commented on #36
@nsowen as we started implemntation we are definitly interested in combining our requirements with your implementation. Did you have chance to go through the requirements list attached to the case mentioned by me in the issue description? As not to do the same implementation twice we will look into failover functionality while waiting for you Pull Request.

[2016-05-20 06:20] nsowen commented on #36
@gfigiel Sorry to let you guys wait. I'm still facing issues on a router implementation (WeightedLeastConnectionsRouter) which currently relies on Peer-Statistics being enabled, which does not work perfect. Nevertheless, I'm not happy with it, but I will share my current progress with a pull request by lunchtime if that's ok.

[2016-05-20 09:12] gfigiel commented on #36
Great :-) We will still need some time to go deeply into jDiameter implementetion and algorithms so any help/code from you would be really greatfull :-)

[2016-05-20 09:31] nsowen commented on #36
Added pull request #40  - happy to contribute at least a little bit of work ;-)

[2016-05-20 15:36] jehanzebqayyum commented on #35
@brainslog quick question why post sending CEA there is startTLS? i expect it only after post receiving CEA.

[2016-05-20 18:33] deruelle commented on #33
@chathsuom any news here ?

[2016-05-23 01:46] brainslog opened #41 "Implement Diameter Request Timeout event"
Currently timeouts are not passed to the application, leaving to the SLEE application to use other ways to detect those (eg, setting timers). A SLEE event type should be implemented in order to deliver the actual stack timeout.

Possibly Diameter application specific timer events should also be implemented (eg, Tx and Tcc in DCCA), but, if so, should be out of scope of this issue.

[2016-05-23 09:11] deruelle commented on #14
@coolface88 were you able to make progress on this ?

[2016-05-23 09:51] coolface88 commented on #14
@deruelle Hi, sorry last week I did not touch much. I have excuted the client/server with trace log enabled and understood the execution flow. I have changed the jDiameter code of server side to work with TLS. Hopefully, I will finish this week. Thanks , BR ... Hung

[2016-05-23 10:02] deruelle commented on #14
Thanks for the update @coolface88  !

[2016-05-25 11:19] brainslog commented on #35
@jehanzebqayyum, both server and client need to prepare for TLS after sending/receiving the CEA, and setup the HandshakeCompletedListener.

As for the check of EXPERIMENTAL_RESULT, it's likely just a "fallback" mechanism when no Result-Code is present. It can probably be safely discarded.

[2016-05-30 05:16] coolface88 commented on #14
Hi, it takes more time than I thought. There was a problem at TLS handshaking between jDiameter server and Seagull client. The client has not sent any setup information to server to initiate the handshaking. I will investigate more on this issue.

[jdiameter_server_log.txt](https://github.com/RestComm/jdiameter/files/288850/jdiameter_server_log.txt)

[2016-05-30 08:30] deruelle commented on #14
Thanks for update @coolface88.

[2016-05-30 13:57] FerUy opened #43 "Gy interface"
For SMS over LTE, like mentioned in https://github.com/RestComm/smscgateway/issues/85, it will be crucial also to fully implement Gy interface between OCS and and PCEF (Policy and Charging Enforcing Function), analog to Ro interface, already implemented. Diameter messages for Gy are defined in 3GPP TS 32.299, charging architecture and principles in 3GPP TS 32.240, Packet-Switched domain charging i

[2016-06-01 02:42] FerUy opened #44 "Sy interface implementation"
As specified in in 3GPP TS 29.219:

The Sy reference point is located between the Policy and Charging Rules Function (PCRF) and the Online Charging System (OCS). The Sy reference point enables transfer of information relating to subscriber spending from OCS to PCRF and supports the following functions:

 * Request of policy counter status reporting from PCRF to OCS.
 * Notification of policy count

[2016-06-01 08:32] deruelle commented on #35
@jehanzebqayyum where you able to move forward thanks to @brainslog comments ? Anything blocking ?

[2016-06-01 08:36] jehanzebqayyum commented on #35
Yes i almost finished TLS implementation. Since there are no test case for
TLS. Can you point out for TLS sample config?

Thanks
On Jun 1, 2016 12:32 PM, "Jean Deruelle" <notifications@github.com> wrote:

[2016-06-01 16:22] SummaNetworks opened #45 "JMX Stack configuration"
The following issues have been found while trying to use the JMX stack configuration.
1. Local Peer add IP Address
   _LocalPeer_addIPAddress("127.0.0.1").
   Will trow:
   java.lang.UnsupportedOperationException
   at java.util.AbstractList.add(AbstractList.java:148)
   at java.util.AbstractList.add(AbstractList.java:108)
   at org.mobicents.diameter.stack.DiameterStackMultiplexer._LocalPeer_addI

[2016-06-03 18:31] jehanzebqayyum commented on #35
@brainslog <https://github.com/brainslog> where can i find sample TLS
client/server config?

Best Regards,
Jehanzeb Qayyum
+971 52 898 2285
+92 3311337064

On Wed, Jun 1, 2016 at 12:36 PM, jz <jehanzeb.qayyum@gmail.com> wrote:

[2016-06-03 21:59] brainslog commented on #35
@jehanzebqayyum, I don't think we have any ready, will need to prepare it. Or maybe @coolface88 who's working on #14 might have some already ? If not, I'll try to provide you with it by next week.

BTW, regarding TCP, I've made some comments to the PR #39 as it seems it has some functional issues.

[2016-06-06 09:47] deruelle commented on #14
@coolface88 were you able to investigate the issue and get more insights ?

[2016-06-06 10:25] coolface88 commented on #14
ClientHello was sent but server did not understand it. I have changed ClientHello message with different formats like SSLv2Hello, SSLv3, TLS advertised as Java supported but no luck so far. One of outstanding known issue regarding ClientHello is large number of cipher suites in it. I am narrowing down the possibilities now.

[2016-06-10 16:40] deruelle commented on #35
@jehanzebqayyum just checking if you have been able to move forward on that ?

[2016-06-10 22:33] jehanzebqayyum commented on #35
​Well i am trying to resolve following issue with TLS implementation​.

io.netty.handler.codec.DecoderException:
javax.net.ssl.SSLHandshakeException: no cipher suites in common
at
io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:418)
at
io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:245)
at
io.netty.channel.AbstractChannelHandlerCo

[2016-06-13 11:55] deruelle commented on #14
@coolface88 great, TLS handshakes are not the most easy to debug. you can try to enable -Djavax.net.debug=all to get more insights

[2016-06-13 13:23] deruelle commented on #35
@jehanzebqayyum were you able to debug it ?
did you see http://stackoverflow.com/questions/9534118/ssl-tls-error-no-cipher-suites-in-common-with-netty-when-trying-to-establish#comment12130198_9534118 ?

try to make sure the key manager is not null http://stackoverflow.com/a/15144731/118052

[2016-06-13 18:59] jehanzebqayyum commented on #35
Yes in fact the ssl debug log showed that the key i was using did not match
the TLS specs/supported cipher suites.

I used default jdk keytool option to generate key pair which resulted in
DSA algo.

I resolved it by specifying RSA as the keyalg.

And finally i was able to run a functional test
(AccSessionStatefulBasicFlowTest) successfully.

I will push my changes soon.

On Mon, Jun 13, 2016 at 5

[2016-06-19 14:57] jehanzebqayyum commented on #35
@brainslog did you check?

On Jun 13, 2016 10:58 PM, "jz" <jehanzeb.qayyum@gmail.com> wrote:

match the TLS specs/supported cipher suites.

DSA algo.

(AccSessionStatefulBasicFlowTest) successfully.

wrote:

http://stackoverflow.com/questions/9534118/ssl-tls-error-no-cipher-suites-in-common-with-netty-when-trying-to-establish#comment12130198_9534118
?

http://stackoverflow.com/a/15144731/118052

[2016-06-28 17:13] deruelle commented on #14
@coolface88 any news on this issue ?

[2016-06-30 02:21] coolface88 commented on #14
@deruelle @brainslog  I did all TLS java debug enabling but the info was not very useful. I have spotted out one thing which is quite suspicious. Looks like the handshake message is sending too fast from seagull client so the server has not established the secured socket yet. I still have not figured out how to synchronize this

[2016-07-04 08:30] deruelle commented on #34
Migrated to http://documentation.telestax.com/core/tutorials/jdiameter-quick-telscale-diameter-performance-testing-using-seagull.html#perf.

closing this issue

[2016-07-04 08:30] #34 closed

[2016-07-06 08:06] deruelle commented on #14
Thanks @coolface88 let us know if you were able to make more progress.

[2016-07-08 16:01] deruelle opened #47 "Improve performance of Netty Stack"
Follow up from https://github.com/RestComm/jdiameter/issues/35

[2016-07-13 13:16] jehanzebqayyum commented on #35
hi @deruelle, are you referring Restcomm/sctp netty branch? I do not see netty-2.
The restcomm sctp netty branch is using older version of netty lib.
Considering that there is default support for SctpChannel in netty should we be using the restcomm sctp netty lib? Since we will not be using features such as fall back to TCP, Management etc from the lib.

[2016-07-13 13:19] jehanzebqayyum commented on #47
@brainslog may i know the details of the load test you did for netty tcp?

[2016-07-13 17:16] deruelle commented on #47
@jehanzebqayyum you can see it described here http://documentation.telestax.com/core/tutorials/jdiameter-quick-telscale-diameter-performance-testing-using-seagull.html

[2016-07-13 17:20] deruelle commented on #35
@jehanzebqayyum since my comment the master branch is now netty enabled so you can use https://github.com/RestComm/sctp/tree/master.
Let's go with the pure netty approach then for now. I would like @vetss to comment on that too to see if we are missing on any restcomm sctp features if we go with the pure netty based approach but he is on vacations so please proceed with pure netty approach for now

[2016-07-14 20:03] jehanzebqayyum commented on #47
Did some initial testing.

1000 calls/sec and 1 min of test each.
JAVA_OPTS = -Xms512m -Xmx1024m
machine (4GB, i5 @ 2.6GHz x 4).

Netty
 Successful calls=55198
 Failed calls=222
NIO
 Successful calls=57817
 Failed calls=41

More than 1000 call rate, failure/timeout counts increases.

P.S:
charging-server-simulator-perf-test/pom.xml dependency needed minor correction:
from
 <artifactId>mobicents-di

[2016-07-15 15:11] deruelle commented on #47
@jehanzebqayyum Thanks. feel free to do a Pull Request on restcomm-diameter-mux-jar and investigate what is the blocker for call rate.
I think you can use https://github.com/RestComm/PerfCorder and @jaimecasero could potentially give you some hints to set it up to record all utilization about the test on memory CPU etc.

[2016-07-16 16:22] jehanzebqayyum commented on #47
I see many TCP window size zero messges in wireshark trace. Seems like i
need to adjust tcp settings as both client and server on same machine are
eating tcp stack mem.

On Jul 15, 2016 7:11 PM, "Jean Deruelle" <notifications@github.com> wrote:

restcomm-diameter-mux-jar and investigate what is the blocker for call
rate.

@jaimecasero could potentially give you some hints to set it up to record
al

[2016-07-16 18:38] jehanzebqayyum commented on #47
Updating tcp stack settings as below to max 64MB buffer per socket had no effect, since RAM maxed during the test to 97% so not enough memory.

sudo sysctl -w net.core.rmem_max=64777216
sudo sysctl -w net.core.wmem_max=64777216
sudo sysctl -w net.ipv4.tcp_rmem='87380 16777216 64777216'
sudo sysctl -w net.ipv4.tcp_wmem='87380 16777216 64777216'
sudo sysctl -w net.ipv4.route.flush=1

seagull client

[2016-07-16 19:52] brainslog commented on #47
Hi @jehanzebqayyum,

What is the available RAM you have setup for the JVM ? I think you should be able to go over 1000 req/s with little memory usage (<1GB).

Try to set RequestTable sizes to 0 (@ https://github.com/RestComm/jdiameter/blob/master/core/mux/common/config/jdiameter-config.xml#L60) in order not to keep so much memory occupied (this way routing info is kept in the answer object, and on

[2016-07-21 08:02] deruelle commented on #14
@coolface88 just to let you know. The stack also now has a Netty based TLS implementation as part of https://github.com/RestComm/jdiameter/issues/35 which may be worth testing as well.

[2016-07-21 19:35] jehanzebqayyum commented on #47
I was able to reach 5000 call-rate by modifying seagull config as below i.e.
Giving seagull more time for IO instead of displaying stats and allowing seagull itself to control other parameters such max-simultaneous-calls etc.

 <define entity="traffic-param" name="call-rate" value="5000"></define>
  <define entity="traffic-param" name="display-period" value="8"></define>
  <define entity="traffic-

[2016-07-22 01:23] brainslog commented on #47
@jehanzebqayyum, nice increase you got there, any difference between NIO and Netty ? Also, can you share the config parts you've changed, so that I can try to replicate ? Thanks!

[2016-07-22 08:00] jehanzebqayyum commented on #47
Netty puts more load on memory with default options since it uses PooledByteBufAllocator, which decrease servers capability to handle more messages with same memory as that of NIO. The netty server thus advertises lesser TCP Window Size. But of course this means improved CPU performance. The option is configurable and we may use UnpooledByteBufAllocator.

I have always seen in wirehsark TCP Window

[2016-07-26 16:00] jehanzebqayyum commented on #14
netty impl is only RFC 3588 at the moment. @coolface88 can you post the seagull config for RFC 3588 TLS you tried?

[2016-07-27 04:29] coolface88 commented on #14
@jehanzebqayyum seagull can be configured to work with both RFCs, I will post a guide here later today

[2016-07-27 13:43] coolface88 commented on #14
@jehanzebqayyum I assume that you know how to install all TLS related stuff of seagull.
Then you can continue with below configurations.
For RFC 3588 complying, you need to set these two <transport-option channel="channel-1" value="secure-mode"> and init-args="...secure=no".
For RFC 6733 complying, you need to set only init-args="...secure=yes".

conf.client.xml
....
  <define entity="transport"

[2016-07-27 13:46] coolface88 commented on #14
@jehanzebqayyum I assume that you know how to install all TLS related stuff of seagull.
Then you can continue with below configurations.
For RFC 3588 complying, you need to set these two and init-args="...secure=no".
For RFC 6733 complying, you need to set only init-args="...secure=yes".

conf.client.xml
....
  <define entity="transport"
    name="trans-1"
    file="/Users/ME664JA/Projects/Seagull

[2016-07-27 13:59] coolface88 commented on #14
@jehanzebqayyum I assume that you know how to install all TLS related stuff of seagull.
Then you can continue with below configurations.
For RFC 3588 complying, you need to set these two and init-args="...secure=no".
For RFC 6733 complying, you need to set only init-args="...secure=yes".

[ccr-cca-event-client.txt](https://github.com/RestComm/jdiameter/files/386227/ccr-cca-event-client.txt)
[conf.

[2016-07-27 14:01] coolface88 commented on #14
@jehanzebqayyum I assume that you know how to install all TLS related stuff of seagull.
Then you can continue with below configurations.
For RFC 3588 complying, you need to set these two transport-option channel="channel-1" value="secure-mode" and init-args="...secure=no".
For RFC 6733 complying, you need to set only init-args="...secure=yes".

[ccr-cca-event-client.txt](https://github.com/RestCom

[2016-07-27 18:59] jehanzebqayyum commented on #14
thanks @coolface88. netty jdiameter impl waits for StartTlsRequest whereas seagull client sends ClientHello after CEA.

[2016-07-28 06:13] coolface88 commented on #14
@jehanzebqayyum  I am not sure about netty but StartTlsRequest is related to LDAP association. I believe that the current implementation of jDiameter has not coped with this. ClientHello happens during TLS handshaking phase. Maybe this issue need another ticket.

[2016-07-29 19:52] jehanzebqayyum commented on #14
I removed startTls and change to simple tls handshake impl.
For some reason seagull sends CER again, after receiving CEA, during/after handshake which makes the whole communication out of synch.

Does it look like a successful handshake?
Client Hello
Server Hello, Certificate, Server Key Exchange, Server Hello Done
Client Key Exchange, Change Cipher Spec, Encrypted Handshake Message
Change Cipher

[2016-07-31 15:34] coolface88 commented on #14
@jehanzebqayyum can you please clarify what is simple tls handshake and share your app and wireshark logs?
looks like you had a successful handshake.
In my case, with current tls setup the jDiameter server has not sent out anything after receiving the ClientHello.
seagull: Client Hello sent over plain socket
jdiameter: Client Hello acknowledged
jdiameter: startTLS()  executed
jdiamter: Server hang

[2016-07-31 15:40] jehanzebqayyum commented on #14
By simple i mean not StartTLS which starts with StartTlsRequest and
StartTlsResponse befor ClientHello. I will share my branch.
But i have a problem that seagull goes to init section again after the
handshake i.e. it sends CER twice. It does not even respect the wait-ms.

[2016-07-31 16:07] coolface88 commented on #14
Thanks @jehanzebqayyum  please share it. I could not tell much without logs. Can you confirm that the server side has setup TLS socket successfully before receiving ClientHello ?

[2016-08-04 07:03] raidan2 opened #51 "DictionaryImpl does not provide original AVP type for AvpRepresentation"
Looking at **org.jdiameter.common.impl.validation.DictionaryImpl** you may find it's impossible to get original AVP type from dictionary with

[code]

and

[code]

As a result I cannot convert AVP into different format because I don't have type of this AVP (like it's an Address?).

May I suggest adding `String getOriginalType();` to **org.jdiameter.api.validation.AvpRepresentation** so anyone who

[2016-08-08 13:08] jehanzebqayyum commented on #14
@coolface88 Here it is: [netty-tls](https://github.com/jehanzebqayyum/jdiameter.git)
for your ref:
I originally created keys & certs using keytool. And later converted the same to pem files for use with seagull.
Changes in server's conf.xml
`<LocalPeer security_ref="tls-server">`
[code]
In conf.client.xml i only mentioned client certificate and client key.
`init-args="method=SSLv23;cert_chain_file

[2016-08-11 21:31] SummaNetworks opened #53 "CEA supported Applications"
We have a case in which the Jdiameter is sending a CEA message for a CER message asking about support for 10415 applications, however, the CEA contains ALL supported features. Inside the CEA, by default the Cx states support for both 10415 and 13019. However the server that sent the CER complaints about the duplicity. We have been reading the RFCs, and the 6733 (https://tools.ietf.org/html/rfc6733

[2016-08-26 14:34] deruelle opened #56 "Fix License bundle"
https://github.com/RestComm/jdiameter/blob/master/core/jdiameter/impl/src/main/resources/META-INF/LICENSE-LGPL-2.1.TXT it should be AGPL

[2016-08-26 14:57] #56 closed

[2016-09-05 06:49] deruelle commented on #47
@brainslog were you able to review @jehanzebqayyum work ?

[2016-09-07 07:52] deruelle commented on #14
@coolface88 @brainslog were you able to validate @jehanzebqayyum testing as well ?

[2016-09-07 15:25] coolface88 commented on #14
@jehanzebqayyum I am not sure why removing STARTLS relates to this issue. Do u know if StartTLSRequest happens with this legacy code or just netty? because i did not see that request in the tcp dump. It might take some times to read your code but can you please share your tcp dump and execution log so that I can validate. It should include CER/CEA followed by a sequence of TLS encoded messages in

[2016-09-08 08:42] deruelle commented on #51
@brainslog can you answer this ?

[2016-09-19 03:04] brainslog commented on #47
Thanks @jehanzebqayyum. With instructions from #52 and this I was able to achieve good call rates (12~15K msg/sec), although after some time it'll start failing a few requests. I'm not sure this is related to netty or if it is a common structure that might be breaking, as I think I saw it with NIO as well, although after a bit more time & load. I will need to run a long and slow test to confirm wh

[2016-09-27 10:49] SummaNetworks opened #59 "SCTP buffer overflow"
With the current SCTP version of the library used on the diameter, there is a hard limit on the buffer size for the SCTP message. When the buffer is smaller than the message, the exception is not well handled, so, an exception will be thrown:
2016-09-19 13:03:52,839 ERROR [SelectorThread](Thread-16) Error while selecting the ready keys
java.nio.BufferOverflowException
at java.nio.DirectByteBuffer.

[2016-09-27 13:20] deruelle commented on #59
We support Netty now in the master, I guess adding SCTP shouldn't be much work and potentially provide greater flexibility in that regard ?
We could potentially upgrade the SCTP library backed by Netty from https://github.com/RestComm/sctp that is used in jSS7 as well for consistency. @SummaNetworks would you like to try to contribute that ?

[2016-09-27 20:56] SummaNetworks commented on #59
Hi Jean,
Thanks for the quick reply. Unfortunately, we tried updating the SCTP library, but the methods signatures have changed, so it might imply a backward compatibility issue. Could you asses the impact?

[2016-09-27 22:00] vetss commented on #59
Hi @SummaNetworks

"Do you plan to upgrade the SCTP library?"

We have implemented new version of SCTP lib with netty support and some bug (including mentioned by you) fixing.
We have two different implementation now:
1) nio based (an old one) that uses AssociationImpl and ManagementImpl classes
2) netty based (a new one) that uses NettyAssociationImpl and NettySctpManagementImpl classes
You uses

[2016-09-28 06:36] SummaNetworks commented on #59
Hi all,

Looking at the pom files from the diameter, we can see:
    <dependency>
      <groupId>org.mobicents.protocols.sctp</groupId>
      <artifactId>sctp-impl</artifactId>
      <version>1.6.0.FINAL</version>
    </dependency>
    <dependency>
      <groupId>org.mobicents.protocols.sctp</groupId>
      <artifactId>sctp-api</artifactId>
      <version>1.6.0.FINAL</version>
</dependency>
Which

[2016-09-28 06:52] deruelle commented on #59
@SummaNetworks the workaround you did in https://github.com/RestComm/jdiameter/issues/59#issue-179459462 is the safest for now if you don't want to upgrade jdiameter SCTP to Netty but on the long term upgrading the sctp library to the netty is the best and can be done as part of the 1.7.0 release.
Feel free to contribute the upgrade and we can run testsuite and perf tests to check for any issues.

[2016-09-28 15:38] vetss opened #60 "Switch jdiameter library to the latest SCTP library"
SCTP lib is updating after adding new functionality into JSS7 stack. Now we have newer versions with netty support and we need to make support for them into jdiameter.

[2016-09-28 15:40] vetss commented on #59
Hello @SummaNetworks @deruelle

I have created a separate issue for switching to a new SCTP lib version:
https://github.com/RestComm/jdiameter/issues/60

Let's discuss of "switching to netty" staff there.

[2016-09-28 15:52] vetss commented on #60
We have now two different versions of SCTP libs that correspond to different JSS7 versions:

1) JSS7 7.0 (that is released) that uses SCTP lib 1.7 https://mobicents.ci.cloudbees.com/view/SS7/job/Restcomm-SCTP/8/

2) JSS7 8.0 (not yet released) that uses SCTP lib 2.0 https://mobicents.ci.cloudbees.com/view/SS7/job/Restcomm-SCTP/10/
(it may be that we add extra little staff there and rebuild binarie

[2016-09-28 16:07] vetss commented on #60
Needed code update to switch to netty:

1) SCTP part: replace:
ManagementImpl -> NettySctpManagementImpl
AssociationImpl-> NettyAssociationImpl
and so on.
It is better also to have on board referenses to interfaces not to classes (like referens to Association instead of AssociationImpl). This is true for all classes instead of ManagementImpl / NettySctpManagementImpl

2) TCP part:
I see you do not

[2016-09-28 17:28] vetss commented on #35
I have created an issue that explain details for switching to new SCTP lib versions
https://github.com/RestComm/jdiameter/issues/60

[2016-09-28 17:29] vetss commented on #60
We have also an issue for switching TCP part for netty lib (without of using of SCTP lib for it)
https://github.com/RestComm/jdiameter/issues/35

[2016-09-29 07:23] deruelle commented on #51
@raidan2 do you want to make a pull request for that ?

[2016-09-29 17:28] aferreiraguido commented on #51
Hello @raidan2,
As per my understanding the type definition, works like a translator of a base type, you may define the type as a base one instead, with no parent definition. Enumeration is actually a sorted list of integers as well... if I misinterpreted your concern please let me know, happy to discuss, I wonder why that comment is there as well...

[2016-09-30 08:47] vetss commented on #59
Hello @SummaNetworks

1) I can just increase of buffer length to some more value (which one do you think is reasonable from diameter point of view ?)

2) it is better to switch jdiameter lib for usage of the latest SCTP lib + reuse of netty (for SCTP protocol)
https://github.com/RestComm/jdiameter/issues/60

[2016-10-03 07:43] SummaNetworks commented on #59
Hi all,

1. We did patch the 1.6 version to increase the buffer to 16MB. At this point, not sure what should be a reasonable size, the XML for the Cx interface can be pretty big if you have 50 triggers.

2. Yes, the idea is to upgrade the lib specially if the netty implementation is more up to date, and will have more bug-fixing. We tried, but had an issue with method signatures, so, it will requi

[2016-10-04 10:21] deruelle commented on #60
@brainslog can you comment on that ?

[2016-10-04 10:21] deruelle commented on #60
tied to issue #59

[2016-10-05 18:47] FerUy commented on #43
As agreed today @aferreiraguido, I assigned this to you.
To put a summary of what you commented in today's meeting, Gy is almost identical to Ro interface, but includes a couple of extra messages for aborting session and closing an active session.
All yours 👍

[2016-10-07 17:19] aferreiraguido commented on #43
Thanks @FerUy, just to be clear on the matter, let me write down some concepts:

We do have first the RFC-4006, which is the base for any Credit Control Application (id 4, vendor 0) over Diameter, plus it's also the base definition for messages exchange, here we have CCR/CCA messages defined plus the re-authorization for sub-sessions RAR/RAA. With the basic CC Application, you can charge one time

[2016-10-07 17:38] FerUy commented on #43
It does @aferreiraguido and goes in the same direction of a customer claiming Ro/Gy being not entirely equal. @brainslog ?

[2016-10-07 17:54] brainslog commented on #43
I don't understand what exactly differentiates Ro from Gy.

We _may_ miss support for properly handling ASR/ASA in Ro but I don't see how Disconnect-Peer, Device-Watchdog and Capabilities-Exchange come into discussion here, as these are peer management messages that are unrelated to the specification, they are provided by Diameter Base and at no point should any Diameter Application interfere with

[2016-10-07 18:02] aferreiraguido commented on #43
mmm maybe I did not explain myself completely clear. app/cca is perfectly well. Regarding functionally equivalences, Ro = Gy and 3GPP TS 32.299 defines those extra messages which are also referenced as format defined in RFC 3588. As per my understanding according with the standard, those should be managed in in Ro/Gy, maybe not...

[2016-10-09 19:15] FerUy commented on #37
Commit c5187a5 applies for this issue.

[2016-10-09 19:16] FerUy commented on #38
Commit c5187a5 applies for this issue.

[2016-10-10 03:12] FerUy opened #61 "SLs interface implementation"
SLs interface implementation for LTE Location Services; LCS Application Protocol (LCS-AP) between the MME and E-SMLC according to 3GPP TS 29.171.

[2016-10-10 03:15] FerUy commented on #61
@ajitlakhwani this will be assigned to you :)

[2016-10-10 04:16] xphudin commented on #53
Hi SummaNetworks,
How could you reproduce that issues?
I can see in source code that CEA is sent with intersection of apps-id

[2016-10-12 01:49] FerUy opened #62 "Update Location-Estimate AVP as OctetString"
Either in 3GPP TS 29.172 (SLg) as in 3GPP TS 32.299 (where it is specified) it is defined as OctetString. Here the extract from 3GPP TS 32.299 (last release, 14.1.0)

7.2.94 Location-Estimate AVP
The Location-Estimate AVP (AVP code 1242) is of type OctetString and contains an estimate of the location of an MS in universal coordinates and the accuracy of the estimate. Refers to the geographical are

[2016-10-12 07:30] deruelle commented on #14
@jehanzebqayyum do you think you can help @coolface88 with his questions ?
@coolface88 were you able to make progress on that ?

[2016-10-12 11:02] pmcgleenon commented on #60
Can you remove the jboss dependency that is introduced with the base sctp maven components?

jboss is being dragged in indirectly here and there appears to be no reason for the sctp component to require it

[2016-10-12 11:08] pmcgleenon commented on #43
Ro is the generic interface that can be used to describe any OCS interface, where Gy is an example of a specific one for charging.

Ro and Gy both use different application IDs - and this is being defined in the dictionary xml.  Also Gy requires some additional AVPs which provide the actual charging functionality.   So in my mind Ro and Gy are different.

I've got a working Gy implementation  - sh

[2016-10-12 11:43] deruelle commented on #60
That makes sense @pmcgleenon. Would you like to do a Pull Request for that ? That would speed it up.

[2016-10-12 13:41] aferreiraguido commented on #43
@pmcgleenon as mentioned before, Ro is the generic online charging interface between CTF (Charging Triggering Function) and OCF (Online Charging Function), which is basically the same you state in your message. Thus, according to my understanding, Ro is the interface for functions, while Gy is a name for the Ro interface for PCEF - OCS interworking systems in the PS domain.

That is what is stated

[2016-10-14 07:26] xphudin commented on #45
hi @SummaNetworks
For the 1st issue, It is cause by "Arrays.asList()",  in my thinking, it convert an fixed size array, and can not perform "add" function.
For me, the fix is:
             List <String> newIpAddressConfig = new ArrayList<String>(Arrays.asList(OldIpAddressConfig));

[2016-10-16 09:14] xphudin commented on #45
Hi @SummaNetworks
Sorry, the fix should be:
 List <Configuration> newIPAddressesConfig = new ArrayList <Configuration> (Arrays.asList(oldIPAddressesConfig));
      AppConfiguration newIPAddress = getClientConfiguration().add(OwnIPAddress, ipAddress);

      getMutableConfiguration().setChildren(OwnIPAddresses.ordinal(), (Configuration[])   newIPAddressesConfig.toArray(new Configuration[newIPAddres

[2016-10-16 11:02] xphudin commented on #45
Hi @SummaNetworks  I did 2 first issues and doing 2 last.
Thanks

[2016-10-17 08:21] SummaNetworks commented on #45
Hi xphudin,

Thanks!!! so, you plan to do a PR with the fixes?

We will really appreciate if you could dot it.

Miguel

[2016-10-17 15:48] SummaNetworks commented on #53
Hi,

Tested with the last version, we are sending this:
Command Code: 257 Capabilities-Exchange
ApplicationId: Diameter Common Messages (0)
Hop-by-Hop Identifier: 0x5349e69c
End-to-End Identifier: 0x01a00000
[Request In: 2896]
[Response Time: 0.059181110 seconds]
AVP: Origin-Host(264) l=25 f=-M- val=hss.open-ims.test
AVP: Origin-Realm(296) l=32 f=-M- val=virtualbox.open-ims.test
AVP: Host-IP-Addre

[2016-10-17 16:19] xphudin commented on #45
Hi @SummaNetworks  I did 2 first issues and doing 2 last.
Thanks

[2016-10-18 08:39] SummaNetworks commented on #45
Thanks!!!!!

[2016-10-19 16:31] xphudin commented on #53
I just wonder why need to limit the supported apps?
. The sender of the Capabilities-Exchange-Answer
(CEA) SHOULD include all of its supported applications as a hint to
the receiver regarding all of its application capabilities.

[2016-10-19 16:43] SummaNetworks commented on #53
Yes, but prior to that it says:

The receiver of the Capabilities-Exchange-Request (CER) MUST
determine common applications by computing the intersection of its
own set of supported Application Ids against all of the
Application-Id AVPs (Auth-Application-Id, Acct-Application-Id, and
Vendor-Specific-Application-Id) present in the CER.

And doing tests with an EPC vendor, they said we included all s

[2016-10-22 14:16] nguyenbatam opened #64 "Error file config xml when run Example"
When I run example server and example client  i has error .
0    [main] DEBUG com.xkeam.example.diameter.ExampleServer  - log4j configured
4    [main] INFO  com.xkeam.example.diameter.ExampleServer  - Initializing Stack...
SLF4J: The requested version 1.5.8 by your slf4j binding is not compatible with [1.6, 1.7]
SLF4J: See http://www.slf4j.org/codes.html#version_mismatch for further details.
77

[2016-10-23 06:22] xphudin commented on #45
hi @SummaNetworks , regarding 3rd- problem, when we call stopStack then stop function is called, which set state of stack "STOP". Is it enough? If needed, we can introduce new function like "isStopped" then check the state of stack is STOP or not?
Could you please give me your advices?
Thanks

[2016-10-23 06:36] xphudin commented on #64
Please tell us your steps ?
Did you follow http://documentation.telestax.com/core/tutorials/jdiameter-quick-telscale-diameter-performance-testing-using-seagull.html ?
Thanks

[2016-10-23 08:34] xphudin commented on #64
hi.
SLF4J: The requested version 1.5.8 by your slf4j binding is not compatible with [1.6, 1.7]
SLF4J: See http://www.slf4j.org/codes.html#version_mismatch for further details.
You should try update your slf4j version to 1.6 or 1.7 in pom file.

[2016-10-23 12:36] nguyenbatam commented on #64
thank you very muck , I fixed its

[2016-10-23 12:36] #64 closed

[2016-10-24 18:17] FerUy opened #65 "SWx interface implementation"
Interface between HSS and 3GPP AAA Server (SWx-interface)
This reference point is located between 3GPP AAA Server and HSS and is used for transport of authentication data. This interface is specified in TS 29.273

[2016-10-24 18:17] FerUy opened #66 "SWm interface implementation"
Interface between ePDG and 3GPP AAA Server/proxy (SWm-interface)
This reference point is located between 3GPP AAA Server/Proxy and ePDG and is used for AAA signalling (transport of mobility parameters, tunnel authentication and authorization data). This reference point also includes the MAG-AAA interface functionality and Mobile IPv6 NAS-AAA interface functionality. This interface is specified in

[2016-10-24 18:18] FerUy opened #67 "SWn interface implementation"
Interface between ePDG and Untrusted non-3GPP Access (SWn-interface)
This is the reference point between the Untrusted Non-3GPP IP Access and the ePDG. Traffic on this interface for a UE-initiated tunnel has to be forced towards ePDG. This interface is specified in TS 29.273

[2016-10-24 21:49] SummaNetworks commented on #45
Hi xphudin,

Yes, any flag to know the status of the stack will suffice. Either isActive() or status().

[2016-10-25 16:37] xphudin commented on #53
hi @SummaNetworks , I had added an parameter in "jdiameter-config.xml" to define which option is selected:
   1. Send only the intersection
2. Send all supported apps.

[2016-10-26 02:54] brainslog commented on #53
Hi,

I think the specification clearly says that what we are doing is the correct way:

   (CEA) **SHOULD include all of its supported applications** as a hint to
   the receiver regarding all of its application capabilities.

Regarding, the prior text:

   determine common applications by computing the intersection of its
   own set of supported Application Ids against all of the
   Application-I

[2016-10-26 03:44] brainslog commented on #51
@raidan2, I think it makes sense to add your suggestion to get the original type. It likely should have been the right way (and thus that comment) from the start, and have a getPrimitiveType() method instead. We should evaluate that option.

Regarding the `Enumerated` type, where do you see it missing ?

Please feel free to advance with a Pull Request for this if you feel like.

Thanks!

[2016-10-26 10:22] xphudin commented on #21
Hi @brainslog
will threadgroup be replaced by threadpool?

[2016-10-26 23:49] brainslog commented on #21
Hi @xphudin,

Yes, `ThreadPool` or `ExecutorService` should be good candidates. What do you think ? Would you be up to contribute on this ? That'd be awesome!

[2016-10-27 16:20] xphudin commented on #51
Hi @raidan2 @brainslog , I looked into source code and saw that:
     - Avptype in AvpRepresentationImpl is passed by DictionaryImpl, right? but in DictionaryImpl, these type such as "Time" "UFT8String" are modified to respective its typeName.
     - Moving the introduction of getPrimitiveType() in AvpRepresentationImpl. I think its content may be like:
        String  getPrimitiveType(){

[2016-10-29 15:29] xphudin commented on #53
@brainslog  @SummaNetworks  Is there any final decision ?

[2016-10-30 19:13] SummaNetworks commented on #53
Sent private email about the vendor, waiting on a reply.

[2016-11-02 09:47] SummaNetworks commented on #53
Hi @brainslog,
What shall be the resolution then? Do you think you can talk to @xphudin and explain what is the expected solution?
Best regards

[2016-11-02 21:01] raidan2 commented on #51
@deruelle
I'm sorry for such a delay in response. It's a little bit too much going on already.

@brainslog, please take a look at #69
I was trying to make this description portable — i.e. transform to different format and return back, using only AvpRepresentation description.
It did work for me.

I'm fine to rename _getOriginalType()_ to  _getPrimitiveType()_ if you like.

@xphudin
I personally do

[2016-11-06 07:33] xphudin commented on #21
hi @brainslog , I have convert threadgroup into threadpool, unfortunately, I face with failing test with below infomation:
14:20:38,863 DEBUG [PeerTableImpl] Waited 250ms. Time remaining to wait: 500ms. 3 Thread still active.
14:20:39,114 DEBUG [PeerTableImpl] Waited 250ms. Time remaining to wait: 250ms. 3 Thread still active.
14:20:39,364 DEBUG [PeerTableImpl] Waited 250ms. Time remaining to wait

[2016-11-06 10:01] xphudin commented on #45
I do a PR, Can you please review it ?

[2016-11-06 13:40] xphudin commented on #33
Can I continue and PR ?

[2016-11-06 18:06] nhanth87 commented on #21
hi @xphudin it's better that you can attach your code change so we can know what's problem, same for your other tickets

[2016-11-07 08:30] deruelle commented on #45
@brainslog can you review ?

[2016-11-07 09:29] deruelle commented on #33
@xphudin yes please.

[2016-11-08 15:39] xphudin commented on #21
hi @brainslog @nhanth87 ,
I commited source code above, Can you please help me to figure out why many tests are failed?
Thank you so much

[2016-11-08 16:48] SummaNetworks opened #70 "DWR / DWA not synced causing issues with timeouts"
When receiving DWA from a peer, the timeout event and the DWA event are coming almost at the same time, which causes the peer to be disconnected. Two threads are doing it at the same time, which we have a race condition. You can see the log that 2 threads are executing the Event, and the Timeout.

2016-11-02 23:50:46,475 DEBUG [PeerFSMImpl] (Thread-14) Handling event with type [DWA_EVENT]
2016-11-

[2016-11-12 12:27] xphudin commented on #70
hi @SummaNetworks , as far as I understand the issue:
current state of peer is : SUSPECT,
then DWA_EVENT and TIMEOUT_EVENT are coming, thread 1 processes DWA_EVENT, thread 2 processes TIMEPOUT_EVENT and with current state is SUSPECT -> disconnect.
Can you please confirm and correct me If i 'm wrong?
Thanks.

[2016-11-12 20:21] SummaNetworks commented on #70
Hi, I will try to explain :),
first we have the DWR event, you can see on the log that this event changes the state to suspect in thread xxx_10-9 (log time 2016-11-02 23:50:46,475) then we have that event DWA is processed at time 2016-11-02 23:50:46,478, the state should be SUSPECT but in this case is OKEY, when the TIMEOUT event is processed (2016-11-02 23:51:15,520)  is reading the state SUSPECT

[2016-11-15 03:49] xphudin commented on #70
hi @SummaNetworks
I looked into source code:
              //lock.lock();
            try {
              if (event != null) {
                if (event instanceof FsmEvent && queueStat != null && queueStat.isEnabled()) {
                  timeSumm.inc(System.currentTimeMillis() - ((FsmEvent) event).getCreatedTime());
                  timeCount.inc();
                }
                logger.debu

[2016-11-17 23:10] SummaNetworks commented on #70
Hi xphudin!!!
to avoid the synchronization problem we configure the state machine to work only with 1 thread, but then we are facing the following situation, I will try to explain with the log information and I attach the corresponding pcap file

**At 10:54:31,568 we receive a DWA_EVENT**

2016-11-08 10:54:31,568 DEBUG [SCTPTransportServer$ServerAssociationListener] (Thread-14) SCTP Server receive

[2016-11-18 14:54] xphudin commented on #70
hi @SummaNetworks  Did you attach the pcap file ?
Thanks

[2016-11-19 10:35] SummaNetworks commented on #70
It only accepts zip files :), here it is
[DWR_DWA.pcap.zip](https://github.com/RestComm/jdiameter/files/601374/DWR_DWA.pcap.zip)

[2016-11-28 09:49] deruelle commented on #51
@brainslog can you provide some feedback on this issue ?

[2016-12-31 19:31] santosh135 commented on #47
I was load testing the Netty build of Jdiameter and got , 22k-23k TPS. still trying to improve the numbers.

while going through the code, TcpClientConnection , i found that in onEvent function when an event e.g. message received is raised, all the connection listeners are called in blocking. any specific reason for it ?

increasing the thread-group size in jdiameterconfig.xml doesnt seem to affec

[2017-01-04 18:47] abdulazizali77 commented on #41
Hi i assume this would be the Peer timeouts detailed in 6733 section 5.6 ?
Im assuming we want to implement additional Timeout state transitions for R-Open and I-Open correct? since these transitions arent actually there in the table.
Also in regards to CER, DWR, DPR timeouts in PeerImpl, im assuming timeouts are not yet implemented (as mentioned)? i havent looked thoroughly enough or tested/debug

[2017-01-05 12:13] SummaNetworks opened #71 "CER / CEA does not match correctly the applications"
When receiving CER events with a list of matching app-ids, the loop will not set correctly the requested values, and will not accept the incoming connection. So, we have created a map to hold all the CER requested vendor App-id, and be able to match them. Previously, the code will overwrite the each time the vendor id, so only the last one will be used.

We solved the issue by adding a hasmap:
Thi

[2017-01-05 12:15] deruelle commented on #71
Thanks @SummaNetworks. Can you do a proper Pull request for the team to review  ?

[2017-01-05 12:15] SummaNetworks opened #72 "CER will not handle IP Addresses on the AVPs"
If the CER message received contains IP addresses, those are ignored to generate the information for the Peer, and the FQDN is used instead. When the CER contains IP addresses, those shall be used to construct the Peer IP information.
The Peer shall have a list of IPs, as to allow multiple paths.

[2017-01-05 12:29] SummaNetworks opened #73 "Cross-connect will not work"
When connected to 2 DRAs, the traffic shall be sent to the originator if still OK, and then try the second one. So, currently the message delivery will select the peer based on the list of peers obtained from the configuration:
1. Peer dra1.realm.com for realm.com
2. Peer dra2.realm.com for realm.com
So, when reading the selectedPeer, the stack will load using the realm, and simply use the first f

[2017-01-05 15:54] SummaNetworks opened #75 "Enable re-load of the config xml"
The configuration shall be reloaded from the XML when changed, to enable not stopping the stack and restarting. We have tested the trunk, and after 10 min, no changed was applied.

[2017-01-08 09:58] deruelle commented on #41
@xphudin isn't this something you worked on already and were planning to push a Pull request for ?

@brainslog can you help answer @abdulazizali77 questions ?

[2017-01-08 11:06] jehanzebqayyum commented on #47
Hi,

If you see netty.TCPTransportClient, the msgHandler in the pipeline has
different eventExecutorGroup assigned. It's current size is 1 thread which
can be adjusted.

On Sat, 31 Dec 2016 at 11:31 PM, sannin <notifications@github.com> wrote:

[2017-01-09 06:44] santosh135 commented on #47
@deruelle  pls find inline

_How long did you run the test for ?_
around 8-10 hours

_Feel free to experiment with async/non blocking on listeners and report back_
i did , removed the lock, performance actually went down by 1k TPS

_Feel free to investigate the thread-group size issue as well._
still doing it, but it has no impact on TPS, still cant go beyond 22k, i guess bottleneck is somewhere e

[2017-01-10 02:13] phuongdinh1411 commented on #41
yes, I did a PR.

[2017-01-10 02:21] abdulazizali77 commented on #41
@phuongdinh1411 could you point me to the PR? Additionally is this issue still valid/open?

[2017-01-10 04:06] phuongdinh1411 commented on #71
hi @SummaNetworks ,
Why don't put:
`if (authApplicationId != 0) {
          rc.add(ApplicationId.createByAuthAppId(vendorId, authApplicationId));
        }
        if (acctApplicationId != 0) {
          rc.add(ApplicationId.createByAccAppId(vendorId, acctApplicationId));
        }`
into
`for (Avp localAvp : avps) {
          if (localAvp.getCode() == Avp.VENDOR_ID) {
            vendorId = localA

[2017-01-10 05:25] phuongdinh1411 commented on #41
hi @abdulazizali77, you can see my PR here:
https://github.com/RestComm/jain-slee.diameter/pull/19

[2017-01-10 09:10] SummaNetworks commented on #71
Hi phuongdinh1411!!
we will have the same problem if we put that code inside the for(Avp localAvp : avps)
the request we receive will have the following avps:
                <avp name="Vendor-Specific-Application-Id">
                    <avp name="Vendor-Id" value="10415"></avp>
                    <avp name="Vendor-Id" value="13365"></avp>
                    <avp name="Auth-Application-Id" val

[2017-01-10 09:23] NarimanAB opened #77 "org.mobicents.diameter.dictionary.AvpDictionary method parseDictionary"
[code]

the question is why to pass "InputStream is" as a parameter and never use it...

[2017-01-10 09:45] phuongdinh1411 commented on #71
hi @SummaNetworks  seem that "the request we receive will have the following avps:" is missing,
can you check it?
Thanks

[2017-01-10 09:53] SummaNetworks commented on #71
sorry, I forget to put the "code" symbol
Thanks

[2017-01-10 09:58] phuongdinh1411 commented on #71
hi @SummaNetworks , it is easier to understand when have example avps.
Yes, for me it is fine.
can you please pull request for it?

[2017-01-10 10:01] NarimanAB commented on #77
this my code to load custom dictionary.xml

`
AvpDictionary dictionaryFake = AvpDictionary.INSTANCE;
DictionaryImpl dictionary = (DictionaryImpl) stack.getDictionary();
dictionary.configure(this.getClass().getClassLoader().getResourceAsStream(dictionaryFile));
dictionaryFake.parseDictionary((InputStream) null);
`
It looks pretty strange especially this part - "dictionaryFake.parseDictionary((Input

[2017-01-10 16:27] phuongdinh1411 commented on #21
hi @brainslog can you please review it for me?
Thanks

[2017-01-12 06:43] abdulazizali77 commented on #41
OK. didnt review the PR, but i assume it implements this issue.

[2017-01-12 16:01] gfigiel opened #78 "Add getAvpIndex methods"
Add getter methods to retrieve AVP index using AVP code or/and vendorID.

Facility methods to locate AVPs in diameter messsage.

[2017-01-12 16:28] gfigiel opened #80 "New AVPs definitions added to dictionary"
Additional AVPs definitions added to dictionary including TMPL vendor specific AVPs

[2017-01-13 17:01] gfigiel commented on #36
Hello,
Please feel free to review the further extension implementation as for PR: https://github.com/RestComm/jdiameter/pull/82

[2017-01-24 12:51] Namkem opened #83 "Unable to find valid connection to peer"
Good Day Gentlemen,

I created myself the charging client to test your ChargingServerSimulator. I used ExampleClient you provide in org.example package. The issue is when I execute that client I get the exception "Unable to find valid connection to peer ...". It is raised from RouterImpl.java
if (peer == null) {
        throw new RouteException("Unable to find valid connection to peer[" + destHost

[2017-01-25 13:18] Namkem commented on #83
Hello,

Turns out it was my mistake I didn't set up authAppId or roAppId properly in the client.

Thank You.
Best Regards.

[2017-01-25 13:18] #83 closed

[2017-02-07 11:52] gfigiel commented on #78
Related pull request is waiting for review.
#79

[2017-02-07 11:55] gfigiel commented on #80
Related PR:
#81

[2017-02-14 16:48] gfigiel commented on #36
During another session of internal test I found an issue with loadbalancing algorithm. The fix will follow after next testing session is finished (this week).

[2017-02-21 17:06] deruelle commented on #80
@brainslog please review

[2017-03-09 12:32] brainslog opened #85 "Add a configurable session idle timeout"
Currently it is possible that some sessions will live forever, due to external factors or even the nature of some applications. On the long run this could cause severe memory leaks and lead to the stack stop working properly.

It should be possible to define a Session Idle Timeout, where if the session had no activity during the specified timeframe, it will be terminated.

Optionally, it should be

[2017-03-09 13:43] jochettino opened #86 "ElementParser.decodeAvpSet hangs when vendor=0"
Hello colleagues,

We are facing an error when we try to decode a message with vendorId AVP=0, which hangs our thread that is using jdiameter.

I think that put a vendorId=0 is illegal, at least in 3GPP specs, but we are receiving traffic with it.

In the [ElementParser](https://github.com/RestComm/jdiameter/blob/master/core/jdiameter/impl/src/main/java/org/jdiameter/client/impl/parser/ElementPars

[2017-03-15 16:23] #85 closed

[2017-03-16 11:46] brainslog commented on #23
Hi @richardgood. Thanks for finding this!

Actually, there should be something in the startTcc method, there's a comment there stating that there's no Validity-Time AVP in 3GPP, but there's, just not at message top-level but inside MSCC AVP.

[code]

Let me know if you'd like to contribute a PR which uses the Validity-Time inside MSCC AVP.

[2017-03-16 12:41] #86 closed

[2017-03-24 14:38] arixion opened #88 "Sending CER/CEA through APIs"
Hi all,

I am trying to make a simulator using the jdiameter libraries. Is there any way to send CER/CEA using APIs instead of being sent automatically by the library itself

[2017-03-27 16:37] brainslog commented on #88
Hi @arixion,

Please use github issues only for reporting bugs, request for improvements or new features. For asking technical questions, please use [StackOverflow with "restcomm" tag](http://stackoverflow.com/questions/tagged/restcomm) or the [restcomm group](https://groups.google.com/forum/#!forum/restcomm), mostly suited for issues requiring broader discussion by the community.

Closing as inva

[2017-03-27 16:37] #88 closed

[2017-03-27 17:47] brainslog commented on #43
@FerUy, @aferreiraguido & @pmcgleenon,

I am still not convinced that Gy is any different from Ro. And the more I try to figure out, the more convinced I am that they aren't, as in section 4.3 of 3GPP TS 32.251, namely: `The Ro reference point includes the functionality defined for the Gy reference point (required for the PCEF) in
TS 23.203 [72].`:

![image](https://cloud.githubusercontent.com/ass

[2017-03-28 12:03] brainslog commented on #53
Hi @SummaNetworks,

As far as I remember, it was seen that the _issue_ was actually that the CEA (or the CER) might contain the "same" AVP more than once, and thus be rejected with Result-Code 5009 (`DIAMETER_AVP_OCCURS_TOO_MANY_TIMES`).

In the case, it was for Cx/Dx.. In our Cx/Dx RA, we do support Cx/Dx with both 3GPP (10415) and ETSI (13019) Vendor-Id, by having separate Vendor-Specific-Applic

[2017-03-28 14:12] aferreiraguido commented on #43
Hello @brainslog,

As per my understanding and as stated on my last post, Gy is just the name given to the OCS-PCEF Ro reference point, I do only use Ro to refer to the charging interface reference point for ever since.

Although and regarding the main subject that motivated this thread, I am still positive that some messages are missing on Ro reference point which I think we should implement thos

[2017-03-28 14:54] brainslog commented on #71
Hi @SummaNetworks, @phuongdinh1411

If I got it correctly, you are receiving the following AVP in a CER/A:

[code]

This seems like an invalid AVP, as per the [section 6.11 of RFC6733 specification](https://tools.ietf.org/html/rfc6733#section-6.11), it should only have one Vendor-Id and one of Auth-Application-Id or Acct-Application-Id:

[code]

So, the correct way to have it, is by having two sep

[2017-03-28 22:58] ammendonca commented on #77
Hi @NarimanAB,

Thanks for catching this! Indeed, this is not right, seems like some leftover from a refactor. We'll analyze the best way to fix this, or in case you want to give it a try, propose a fix via a Pull Request!

[2017-03-28 23:03] ammendonca commented on #75
Hi @SummaNetworks

Thanks for this feature request. This isn't yet planned to our roadmap, but we'll evaluate the feasibility. Currently it should be possible to modify some of the parameters during runtime via JMX, but not all, and those are not persisted across restarts.

Since the configuration is _mutable_ (ie, new peers or realms may be added in runtime, etc), it brings extra complexity to th

[2017-03-31 11:19] brainslog commented on #80
Fixed with 769159c35c9dab0cce33b63f74fef73cd7e1a62f.

[2017-03-31 11:19] #80 closed

[2017-03-31 11:19] brainslog commented on #78
Fixed with 06049defe161c7cfcc20e6fc5e282820704e8447.

[2017-03-31 11:19] #78 closed

[2017-03-31 13:52] bkrok opened #89 "Settings for code style"
Hello,
could you provide settings for code style formatting for IDEA or Netbeans IDE?

[2017-05-01 17:08] #73 closed

[2017-05-01 17:54] #27 closed

[2017-05-02 10:44] #51 closed

[2017-05-02 12:04] #3 closed

[2017-05-03 08:57] deruelle opened #91 "Unplanned Work 1.7.0-Sprint 2"

[2017-05-03 09:02] #33 closed

[2017-05-03 09:02] ammendonca commented on #33
Issue moved to [RestComm/jain-slee.diameter #26](https://github.com/RestComm/jain-slee.diameter/issues/26) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-04 16:03] #23 closed

[2017-05-10 15:25] aangeloff opened #92 "SMS-Information AVP missing in Service-Information AVP for diameter-ro"
in org.mobicents.slee.resource.diameter.ro.events.avp.ServiceInformationImpl missing implementation for SMS-Information AVP

I can implement this SMS-Information AVP if you are interested.

==========================================
from 3GPP TS 32.299 version 11.10.0 Release 11

7.2.192 Service-Information AVP
The Service-Information AVP (AVP code 873) is of type Grouped. Its purpose is to allow

[2017-05-10 21:21] #92 closed

[2017-05-11 19:18] ammendonca opened #93 "Accept requests and route answers where Origin-Host is an unknown realm"
We should be able to accept requests with an unknown/undefined realm in Origin-Realm, such as in a proxied situation a request may come with Origin-Realm "unknown.provider.com", but through a known/configured peer.

We should be able to route back the answer (to the peer which we received it from) but currently we are failing with **Unknown realm** Exception
 (https://github.com/RestComm/jdiameter

[2017-05-12 16:31] #93 closed

[2017-05-12 16:56] #62 closed

[2017-05-12 17:49] ammendonca commented on #45
Fixed with PR #68 (7349fc3)

[2017-05-12 17:49] #45 closed

[2017-05-16 13:40] #1 closed

[2017-05-17 19:07] #59 closed

[2017-05-19 11:08] ammendonca opened #94 "Trying to retrieve client Rf session state returns null"
When trying to retrieve the state for a client Rf session, null is being returned instead of a valid value. It should never be null, a newly created session should return IDLE.

Related to ZD Issue 34312

[2017-05-29 10:37] ammendonca commented on #72
Hi @SummaNetworks,

I think you should be referring to the Host-IP-Address AVP, which the CER and/or the CEA must include with their available IP addresses (in case of SCTP).

These AVPs should be treated mostly as informational, for logging/admin purposes, as those addresses are likely not reachable through other interfaces (eg: we may receive a 192.168.1.123 address, and although we might have a

[2017-05-29 10:46] ammendonca commented on #91
- DRA Routing issues (**8**)
- Load Test Setup (**5**)

[2017-05-30 14:51] ammendonca commented on #89
Hi @bkrok,

We will work on the codestyle for the required IDEs, I think Eclipse is able to import those from the rules at https://github.com/RestComm/jdiameter/blob/master/pom.xml#L123-L197.

Anyway, here are the rules we are using, while the files are not ready:

- No trailing spaces;
- Max line length of 160 chars;
- 2 space indentation (4 spaces for multi-line indentation);
- Braces around cod

[2017-06-01 17:03] #94 closed

[2017-06-02 12:27] #91 closed

[2017-06-13 12:41] arifulislam2007 opened #95 "Origin and Destination Realm Problem"
Hello,
I'm very new to Diameter and trying to debug a code from one of my colleagues who left the company.  I'm facing one problem with origin and destination realm names.
I've configured different origin and destination realm names in the configuration file but the application is always sending origin-realm value for both origin and destination-realm to billing system in Sy request. Following is

[2017-06-21 11:28] ammendonca commented on #95
Hi @arifulislam2007

The Destination-Realm is filled in your application code, when creating the request.

Please use github issues only for reporting bugs, request for improvements or new features. For asking technical questions, please use [StackOverflow with "restcomm" tag](http://stackoverflow.com/questions/tagged/restcomm) or the [restcomm group](https://groups.google.com/forum/#!forum/restco

[2017-06-21 11:28] #95 closed

[2017-06-23 17:28] #89 closed

[2017-06-29 11:43] ammendonca commented on #71
Closing as it is invalid.

[2017-06-29 11:43] #71 closed

[2017-06-29 12:05] ammendonca commented on #12
There are already alternative load balancer implementations, see [Weighted Round Robin](https://github.com/RestComm/jdiameter/blob/2e6bc7021dea69923237124be41ff019a294b89a/core/jdiameter/impl/src/main/java/org/jdiameter/client/impl/router/WeightedRoundRobinRouter.java) and [Weighted Least Connections](https://github.com/RestComm/jdiameter/blob/2e6bc7021dea69923237124be41ff019a294b89a/core/jdiamete

[2017-06-29 12:05] #12 closed

[2017-06-29 12:09] ammendonca commented on #70
Unable to replicate, please let us know if it happens again and/or any steps to reproduce.

[2017-06-30 15:13] marca56 opened #98 "Create performance tests for CI for jDiameter"

[2017-06-30 15:15] marca56 opened #99 "Create CI performance test for jDiameter"
* for all applications that we support (list below)

[2017-06-30 15:18] ammendonca opened #100 "Create CI performance tests for jDiameter Base Accounting"

[2017-06-30 15:18] ammendonca opened #101 "Create CI performance tests for jDiameter CCA"

[2017-06-30 15:18] ammendonca opened #102 "Create CI performance tests for jDiameter Ro interface"

[2017-06-30 15:18] ammendonca opened #103 "Create CI performance tests for jDiameter Rf interface"

[2017-06-30 15:19] ammendonca opened #104 "Create CI performance tests for jDiameter Sh interface"

[2017-06-30 15:19] ammendonca opened #105 "Create CI performance tests for jDiameter Cx/Dx interface"

[2017-06-30 15:20] ammendonca opened #106 "Create CI performance tests for jDiameter Gq interface"

[2017-06-30 15:20] ammendonca opened #107 "Create CI performance tests for jDiameter Gx interface"

[2017-06-30 15:20] ammendonca opened #108 "Create CI performance tests for jDiameter Rx interface"

[2017-06-30 15:20] ammendonca opened #109 "Create CI performance tests for jDiameter S6a/S6d interface"

[2017-06-30 15:20] ammendonca opened #110 "Create CI performance tests for jDiameter S13 interface"

[2017-07-11 12:34] ammendonca opened #113 "Unplanned Community Work 1.7.0-Sprint 3"
Olympus Configuration & Docker images (**13**)

[2017-07-11 12:35] ammendonca opened #114 "Unplanned Support Work 1.7.0-Sprint 3"
Diameter Support (**5**)

[2017-07-13 13:21] #113 closed

[2017-07-13 13:21] #114 closed

[2017-07-13 13:29] ammendonca commented on #98
Duplicate from #99

[2017-07-13 13:29] #98 closed

[2017-07-24 12:03] ammendonca opened #116 "Unplanned Community Work 1.7.0-Sprint 4"

[2017-07-24 12:03] ammendonca opened #117 "Unplanned Support Work 1.7.0-Sprint 4"

[2017-07-24 13:53] ammendonca commented on #117
[ZD 34509] OCS XML <-> AVP mapping (8)

[2017-07-24 13:57] ammendonca commented on #116
Restcomm Console PRs and Issues (**8**)
- https://github.com/RestComm/Restcomm-Connect/pull/2241
- https://github.com/RestComm/Restcomm-Connect/pull/2256
- https://github.com/RestComm/Restcomm-Connect/pull/2239
--
- https://github.com/RestComm/Restcomm-Connect/issues/2370
- https://github.com/RestComm/Restcomm-Connect/issues/2371
- https://github.com/RestComm/Restcomm-Connect/issues/2372

[2017-07-26 00:58] #100 closed

[2017-07-26 11:23] ammendonca commented on #60
Fixed with 400d639 on [SCTP-2.0-Netty](https://github.com/RestComm/jdiameter/tree/SCTP-2.0-Netty) branch.

Merging to master when jSS7 migrates to SCTP 2.0 as well.

[2017-07-26 11:23] #60 closed

[2017-07-26 22:44] ammendonca commented on #47
Closing this as current netty implementation performs similar to NIO (with somewhat better response times).

Thanks @jehanzebqayyum!

[2017-07-26 22:44] #47 closed

[2017-07-27 22:48] ammendonca commented on #77
Fixed with PR #115.

[2017-07-27 22:48] #77 closed

[2017-08-14 10:36] p1-martin opened #118 "Change AvpImpl class to Public"
It is useful to have AvpImpl class public for encoding and decoding.

[2017-09-13 00:10] #37 closed

[2017-09-13 00:10] #38 closed

[2017-11-29 17:19] albertpv opened #119 "Possible issue on String params (introduced padding is counted in length field of AVP)"
When i create an AVP with following code:
[code]

I understand padding has to be added but the length the stack sends for this AVP seems to be the full length +padding and not the length of the AVP.

See attached screenshot

What i would like is : length we send for that AVP is just the length of the AVP without counting the padding.

What can i do to fix this problem? (can i override some method

[2017-11-30 15:57] aferreiraguido commented on #119
@albertpv if you code the 3 bytes length of an AVP against the Diameter IETF standard, you'll be having rejected packets. Please double check Diameter writings in the attached picture. So far... you got four bytes of code, one byte for flags, three bytes for length, four more bytes for vendor id and the final value which seems six-octet length, so you require the extra two bytes of padding to have

[2017-12-04 18:01] stephenmontgomery commented on #14
Hi Guys,
Just checking if any update on this?

[2017-12-05 07:07] gsaslis commented on #14
Hi @stephenmontgomery !

Afraid there's no ongoing work on this front on Telestax side at the moment. We're more than happy to review & accept contributions here though!
Would you like to give it a go?

[2017-12-11 15:01] gsaslis commented on #119
thanks for taking this up @aferreiraguido !! 👍

@albertpv did that help answer your issue? can I mark this as closed?

[2017-12-12 08:43] albertpv commented on #119
Hi @aferreiraguido  and @gsaslis
OK the explanation sounds clear and you are right for the AVP I said all is send correctly
But now i understood better my issue:

Problem is that if the OctetString AVP contains spaces then the length the stack sends includes the nitroduced padding.

See example:

The problem is I do not control the other endpoint hence if length is send wrong we cannot fix / remov

[2017-12-14 12:40] #119 closed

[2017-12-14 12:41] albertpv commented on #119
Finally discovered and fixed the issue . It was in a  method getWholeAVPs not part of jdiameter project....so i am not sure anymore it is a fault on the stack and close this issue. (Anyway would be nice to test it)

[2017-12-14 12:48] gsaslis commented on #119
@albertpv thanks so much for reporting back and closing the issue.

Would you mind opening a new issue for the new problem you're facing?

[2017-12-14 15:01] albertpv commented on #119
yeah no problem :-) i did not open just because i am not sure it is a bug or just i am misusing something.

[2017-12-14 17:08] albertpv opened #120 "Issue Network Unwrap"
When starting JDiamerter have issue in following piece of code:

3693 [main] INFO  org.jdiameter.client.impl.StackImpl  - (-)(-)(-)(-)(-) Started  Mobicents DIAMETER Stack v1.7.0.109 (-)(-)(-)(-)(-)
3707 [main] ERROR root  - cannot add network listener :-( java.lang.NullPointerException
java.lang.NullPointerException
        at org.jdiameter.client.impl.StackImpl.unwrap(StackImpl.java:441)

[2017-12-23 09:20] Neloop opened #121 "Rx client not sending properly application ID"
Hello,
I am trying to use jdiameter as Gx and Rx client for PCRF server and I've come to some difficulties with Rx interface. For Gx all works as expected, messages are sent properly and server can answer to them. However using Rx client it is not possible to send messages with proper application ID set. I track down the issue and it seems that session factory for Rx interface is not setting appli

[2017-12-24 13:00] yahyanajjar opened #122 "Jdiameter over SCTP"
Hello,

I have working jDiameter over TCP,
When I switch to SCTP, Only capabilities Exchange and Watchdog are sent,
this.session.send(r, this); can't seem to be triggered in case of SCTP

 (I switched to SCTP via updating the Extensions in the client.xml as below)
<Connection value="org.jdiameter.client.impl.transport.sctp.SCTPClientConnection" />
<NetworkGuard value="org.jdiameter.server.impl.io.

[2017-12-27 14:57] gsaslis commented on #121
Hi @neloop,

Thanks for raising this! From my POV, this does look like a bug.
Would you mind opening a PR for this please?

[2017-12-27 16:51] Neloop commented on #121
Hello,
of course, can do... in a few days

[2017-12-27 17:15] gsaslis commented on #121
@Neloop Awesome!!

yeah, sure, no rush. @ammendonca (who will be reviewing - hint, hint Alex ;) ) is also out for a few days afaik, so we can wait for you _even till next year_ ...

[2017-12-31 18:01] Neloop commented on #121
Deploy to https://oss.sonatype.org would be nice after integration of my PR ;-)
Thanks

[2018-01-03 15:40] FerUy opened #124 "Not all testsuite tests pass"

[2018-01-12 09:04] skymania opened #125 "Memory leak in ServerRfSessionImpl"
@Override
public void sendAccountAnswer(RfAccountingAnswer accountAnswer) throws InternalException, IllegalStateException, RouteException, OverloadException {
    try {
      session.send(accountAnswer.getMessage());
      /* TODO: Need to notify state change...
      if (isStateless() && isValid()) {
        session.release();
      }
       */
    }
    catch (IllegalDiameterStateException e) {

[2018-01-17 20:01] FerUy opened #126 "Fix LCS-Supported-GAD-Shapes AVP from Enumerated to Unsigned32"
Currently, LCS-Supported-GAD-Shapes AVP is wrongly defined as Enumerated. It should be Unsigned32, as described in latest release of 3GPP TS 29.172 (v14.1.0):

[2018-01-17 21:26] arifulislam2007 opened #128 "Help Wanted: Event Charging Client with jDiameter"
Hi,
I'm new to Mobicents/Restcomm. We need to setup a basic DCCA client application which will receive REST request from clients and send CCR (Event Charging without reservation) to Billing server.

Where can I find some detailed instructions (preferably step by step guide) to start, install, configure, develop/customize and test? Any help would be really appreciated.

Regards,
Arif

[2018-01-19 14:33] janssk1 opened #129 "Diameter peer disconnects when not able to send a DWA"
We have noticed that when a client peer is unable to send a DWA (can happen in case there is an issue with the TCP connection, eg half open connection), the client peer decides to disconnect the peer.
I don't think that's correct behaviour. Once a peer is in disconnect state, it will not try to reconnect anymore. AFAIK, the disconnect state should only be reached if one of both sides decides to di

[2018-01-22 13:36] killdashnine opened #130 "SCTP-multihoming server, INIT ACK does not contain IPv4 addresses"
When running jdiameter as a server with two address:
<LocalPeer>
                ...
                <IPAddresses>
                        <IPAddress value="1.2.3.4" />
                        <IPAddress value="5.6.7.8" />
                </IPAddresses>
                ....
</LocalPeer>

Peer (2.3.4.5/6.7.8.9) sends INIT to 1.2.3.4 with:
 IPv4 address parameter 2.3.4.5.
 IPv4 address parameter 6.7

[2018-01-24 16:36] gsaslis commented on #130
Hi @killdashnine,

Thanks for raising the issue. It seems related to #25 .

It sounds like you have a good understanding of the issue - would you like to have a go at contributing this as a feature?

Please let me know so I can put you in touch with someone from the JDiameter maintainers. ;)

[2018-01-25 08:33] gsaslis commented on #120
@albertpv just a quick check: Where you able to figure this out / work around it?

Or is this still an open issue?

[2018-01-25 08:46] gsaslis commented on #125
Hi @skymania ! 👋
Thanks for raising the issue!

Would you like to have a go at submitting a Pull Request for fixing this issue?
If you need any help on the process, our [Open Source Playbook](https://docs.google.com/document/d/1RZz2nd2ivCK_rg1vKX9ansgNF6NpK_PZl81GxZ2MSnM/edit#heading=h.6munton4izwb) might be of some help.

Please let me know if there's anything else you need.

[2018-01-25 08:50] gsaslis commented on #129
thanks for raising this issue @janssk1 !

@ammendonca any feedback here?

[2018-01-25 15:25] dpalmer895 opened #131 "Losing message when running as a proxy over SCTP"
I am not sure if this should be classified as an issue in the RestComm SCTP library or the JDiameter stack as it is caused by a combination of the two.

I have been testing whether to adopt the JDiameter stack in a test Diameter Proxy application. The application is a proxy agent that will act as a SCTP server (i.e. other diameter peers will initiate connections to it).

What I am seeing is:

1, T

[2018-01-25 17:34] FerUy commented on #126
As agreed with @ammendonca, it seems that Unsigned32 specified in 3GPP spec is incorrect, and the type of AVP is indeed Enumerated. Hence, closing this issue.

[2018-01-25 18:52] FerUy commented on #126
As told in PR #127, we just noted that the 3GPP TS 29.172 is correct, it's a bitmask and not an enumeration, thus setting bit 0 supports ellipsoidPoint, setting bit 1 supports ellipsoidPointWithUncertainityCircle, etc.

![image](https://user-images.githubusercontent.com/14883482/35406449-ec866740-01d6-11e8-87b0-2cb7eb2eb196.png)

Reopening it..

[2018-01-25 22:43] FerUy commented on #126
Fixed after merge of PR #127.

[2018-01-25 22:43] #126 closed

[2018-02-05 16:46] gsaslis commented on #131
@ammendonca could you please take a look at this one when you get a chance?

[2018-02-07 17:17] ammendonca commented on #131
Hi @dpalmer895,

Thanks for reporting this issue. It seems a valid one. As far as I can see, the following fixes should be applied:

- Be able to pass an SCTP stack parameter to define the max streams, similar to what we do with SCTP buffer size (https://github.com/RestComm/jdiameter/blob/master/core/jdiameter/impl/src/main/java/org/jdiameter/client/impl/transport/sctp/SCTPTransportClient.java#L95

[2018-02-10 00:04] ammendonca commented on #124
Fixed with 9674f1596cdb2089690f5fc1844a90e2bcf3d266.

[2018-02-10 00:04] #124 closed

[2018-02-17 13:58] isamzwuairi opened #132 "How I can get the real AVP value instead of the coded one"
I'm trying to implement an Slg client based on the jdiameter. Everything is going right except reading some AVPs' value from the client; I'm getting coded string instead of the real AVP value, while those AVPs are shown right on Wireshark. The ECGI AVP in the Slg Provide-Location-Answer is an example:

- The below is a print out of some Slg PLA AVPs from the client itself:

       ...
       <avp

[2018-02-23 00:06] gsaslis commented on #132
Hi @isamzwuairi !

Thanks for reporting this.

I see some weird characters in the first code snippet you have shared, as the first printout from the client. Can we first ensure there is no weird encoding issue? What encoding are you using in the console where you are reading the printout?

[2018-02-23 10:35] Neloop opened #133 "Threading model of session objects"
Hi,
I came across kind of a unexpected locking behavior of jdiameter's session objects which lead to deadlock with the assistance of my code. This in my opinion should not happen and there is no need for current implementation. But I might be wrong and there is good reason for how things are done.

### Background

Let me start with a bit of a background. I am currently working on purpose specific

[2018-02-23 16:44] #121 closed

[2018-02-25 06:35] isamzwuairi commented on #132
Hello @gsaslis

It is UTF-8 on my SecureCRT

![image](https://user-images.githubusercontent.com/36566602/36638707-f319e6fe-1a04-11e8-82ff-9165c5262b74.png)

I tried several options but the output is the same. below is a screenshot:

![image](https://user-images.githubusercontent.com/36566602/36638815-b882dfee-1a06-11e8-998c-ae885f7d76fe.png)

[2018-03-06 11:10] gsaslis commented on #132
hmm still looks like a weird encoding issue to me...

@ammendonca any thoughts on this one?

[2018-03-06 15:05] gsaslis commented on #133
Very interesting issue. Thanks for the detailed explanation @Neloop !

@ammendonca i think we really need your input / feedback on something like this, to verify it really is (or not) the intended behaviour, before moving any further with discussion on potential ways to fix / PRs, and so on...

[2018-03-14 16:22] aliqued opened #134 "Infinite loop when decoding a wrong zero-padded AVP"
There is a bug in `decodeAvp()` method of `org.jdiameter.client.impl.parser.ElementParser` class.

The bug is how the padding bytes are skipped (ElementParser.java lines 299-303):

[code]
If the bytes to skip are greater than the bytes available in the ByteArrayInputStream, the loop `for` above becomes infinite: in the first iteration `in.skip()` will return the skipped number of bytes (less than

[2018-04-17 11:49] isamzwuairi commented on #132
@ammendonca
Please help 😄

[2018-05-14 12:59] qtzkong opened #138 "netty can not close transport"
server mode use tcp netty, as <Extensions> add  <Connection value="org.jdiameter.client.impl.transport.tcp.netty.TCPClientConnection" />, when client side call method stack.destory(), the tcp connection is not closed

[2018-05-16 22:35] ammendonca commented on #132
Hi @isamzwuairi,

I think you will be able to properly print the value using:

[code]

Let me know if it helps.

[2018-06-18 04:27] Buddhima opened #139 "How to reuse RoSession during EventBased scenarios"
Hi,
We can use ClientRoSessionImpl for sending event request (via sendCreditControlRequest method). While doing so the state of the session goes to "PENDING_EVENT". Thereafter how can I take it back to "IDLE", so that I can reuse the same RoSession for sending the next event?
In ClientRoSessionImpl I can't see any method exposed to call with Ro-CCA.
Appreciate your clarification on this.

Ref: htt

[2018-07-01 10:52] isamzwuairi commented on #132
Works fine
Thanks 👍

[2018-08-21 13:28] jinlinyao opened #140 "client-jdiameter-config.xml of example not right"
right client.xsd:
<?xml version="1.0" encoding="UTF-8"?>

<xsi:schema
    xmlns:xsi="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.jdiameter.org/jdiameter-client"
    xmlns="http://www.jdiameter.org/jdiameter-client"
    elementFormDefault="qualified">

    <xsi:element name="Configuration">
        <xsi:annotation>
            <xsi:documentation>JDiameter Client configuration<

[2018-08-30 15:39] khanhlv93 opened #141 "sctp server and peerfsm thread is not down"
Hi,
I have two issues  when i stop or destroy server.stackimpl:
1. sctp server in local peer  is not down because it  has not remote connection. ( in function destroy of class netty.NetworkGuard server check is connected after destroy.)
2. in some shutdown situation  , when peer call disconnect but peerafter's state is down(waiting connect timeout )  , peer did not dispatch stop event thus peer fs

[2018-09-07 11:48] chocobloc opened #142 "Building examples not possible"
Both examples (charging-server-simulator and guide) can't be built:

Building Restcomm :: Examples :: charging-server-simulator 1.0.0-SNAPSHOT
------------------------------------------------------------------------
The POM for org.mobicents.diameter:jdiameter-api:jar:1.7.0-SNAPSHOT is missing, no dependency information available
The POM for org.mobicents.diameter:jdiameter-impl:jar:1.7.0-SNAPSHOT

[2018-11-01 19:28] ocarriles commented on #13
Is it an open issue?, or has it been implemented at protocol level?

[2019-06-18 07:06] subinsoman opened #144 "PeerImpl not handling sessionDataSource contains no/expired NetworkReqListener ?"
Currently PeerImple not handling sessionDataSource contains no/expired NetworkReqListener
[code]

[2019-07-10 08:57] aangeloff opened #145 "logging"
I want to use the jDiameter library with log4j2. I see most of the classes uses slf4j for logging, but 19 classes still uses log4j 1.x for logging
It will be nice to migrate all (or at least ProxyAgentImpl.java and AvpDictionary.java) classes to slf4j.

There are the classes that still uses log4j 1.x:
core\jdiameter\impl\src\main\java\org\jdiameter\server\impl\agent\ProxyAgentImpl.java
core\mux\ja

[2019-09-04 10:11] StephenDwyer-kcom commented on #145
I was about to raise this same issue, but found that @aangeloff had raised exactly this.

Can this please be given a higher priority and addressed ASAP? It's a real blocker for those users needing to use log4j 2 behind the slf4j facade.

In the classes mentioned above (with ProxyAgentImpl and AvpDictionary being the most critical - the others being example & testsuite code) there's been a hardcode

[2019-10-07 05:32] AjitSingh12 commented on #142
i have the same issue

[2019-10-07 05:40] AjitSingh12 commented on #142
Add the below  Dependency in  pom.xml

<dependency>
    <groupId>org.mobicents.resources</groupId>
    <artifactId>restcomm-slee-ra-diameter-base-common-events</artifactId>
    <version>3.0.6</version>
</dependency>
-
My issue is resolved

[2019-10-09 10:15] AbdusSuhail-kcom opened #147 "High level OWASP Security Vulnerabilities identified with jDiameter transitive dependencies"
While performing OWASP maven dependency checks on one of our projects that use jDiameter's Ro Client and Server APIs, we have identified the following security vulnerabilities both in jdiameter-api and jdiameter-impl transitive dependencies:

- **File Path:**                    /org/beanshell/bsh/2.0b4/bsh-2.0b4.jar
   **Vulnerability Type:**   OSSINDEX CVE-2016-2510
   **Severity:**

[2019-10-09 10:27] #145 closed

[2019-10-18 13:23] bdkc opened #148 "Initial connection time or count limit."
When there is no available server, client throws the following excepiton as expected. However every reconnection try causes to thread count increase . Is there any way to limit reconnection time/count per peer?

] DEBUG org.jdiameter.server.impl.fsm.PeerFSMImpl[36] Can not connect to remote peer
org.jdiameter.api.InternalException: org.jdiameter.client.api.io.TransportException: Cannot init transp

[2019-11-22 07:23] kushal1486 opened #150 "Diameter error codes 3002 and 3004 are not working as expected"
When ever there is an error response like 3004 or 3002 received from diameter server, Jdiameter client is rejecting the request instead of trying to the other availble peer.

if there is any configuration for this kindly share

[2020-01-15 12:44] aploskov opened #151 "Wrong dictionary NPE guard"
`core/jdiameter/impl/src/main/java/org/jdiameter/client/impl/fsm/PeerFSMImpl.java:343`
contains `diameter != null`, but at the previous line `ValidatorLevel incomingLevel = dictionary.getReceiveLevel();`. It's not a problem, until dictionary is a singleton, but may produce bugs, if the dictionary implementation will change.

I think, you should inline `incoming level` and change the debug message

[2020-01-24 19:36] joce455 opened #152 "Caused by: java.net.SocketException: Network is unreachable: connect"
Hello, i write this email to inform a problem when i tried to connect diameter client of the example  setion with an enxternal diameter server the app throws:
**Caused by: java.net.SocketException: Network is unreachable: connect
	at java.base/sun.nio.ch.Net.connect0(Native Method)
	at java.base/sun.nio.ch.Net.connect(Net.java:482)
	at java.base/sun.nio.ch.Net.connect(Net.java:474)
	at java.base/s

[2020-04-20 08:41] #128 closed

[2020-04-20 08:52] arifulislam2007 opened #154 "Help wanted: Peer Reconnection problem"
Hi,
Sorry for duplicating the issue from Mobicents Public Forum on Google groups (https://groups.google.com/forum/#!topic/mobicents-public/1xdTZ-E_t34)

We're using jDimaeter for Event Charging Direct Debiting purpose. Recently we faced a strange problem - sometimes we have fluctuations in the network connectivity and Diameter server becomes unavailable and peer connection is lost. But even after

[2020-05-09 07:37] tdevinda opened #155 "Connecting jdiameter to a DRA"
I need to connect the stack to a DRA. So the messages I send will be routed through a DRA (Diameter Routing Agent)
So far, I see no possibility to do that in the config. I have to statically configure Peer nodes and jdiameter sends the packet to the resolved IP for the ```DestinationHost``` AVP.

My ```DestinationHost``` values are in other networks and could be anything. (cannot be pre-configured

[2020-05-09 14:57] nhanth87 commented on #155
Hi,
I think you are looking for SRV entries in DNS records and not related to Diameter

[2020-05-10 15:24] tdevinda commented on #155
Thats a good idea to try out. But I doubt if I can send messages out which are not specified in the peer configuration. I will try it anyway.

[2020-05-13 09:58] tom130 commented on #155
I think for instance F5 DRAs has realm based routing and even you could do some magic with regex patterns to send it to realm or even to some particular hosts

[2020-05-13 10:03] tom130 commented on #155
btw you two options:

1. specify the final destination in the request
2. put the DRA realm there and if the DRA is clever enough it can do the manipulation or origins and destinations - it acts like a proxy and hides the topology, but like I wrote.. we had to develop a groovy script for the F5 DRA

[2020-06-09 16:08] StephenDwyer-kcom commented on #155
We were able to get this working by specifying the OCS's realm as the destination realm in the request, and *not* manually specifying a destination host.

By adding the DRAs (which have their own realm) to the OCS's realm, jdiameter then routes requests to one of the peers in the OCS realm (i.e. one of the DRAs). Because the destination realm in the request is the OCS's realm, the DRA then forward

[2020-06-09 16:19] StephenDwyer-kcom commented on #154
Hi,

I can't see peer[CBSService.com] or realm[www.cbpadpt451.com] anywhere in your jdiameter configuration, so find it hard to believe that you can send any messages with this destination host or realm.

Any destination realm that you submit a request for into the jdiameter stack needs to be defined in the Network section of the jdiameter config.

By the way, you shouldn't need to populate the de

[2020-06-09 16:21] StephenDwyer-kcom commented on #150
Would someone please be so kind as to review my pull request #156 and feed back any comments? Thanks you.

[2020-06-09 16:47] StephenDwyer-kcom commented on #36
Hi @nsowen , We've supplemented the WeightedRoundRobinRouter to resubmit failures due to a 3002 or 3004 Result Code to an alternate peer in the realm, while respecting the Weighted Round Robin routing algorithm. All peers are tried until the list becomes exhausted and they all returned a similar Result Code, or until one peer returns a Result Code other than 3002 or 3004.

I'd like to get this Pul

[2020-06-09 20:27] arifulislam2007 commented on #154
Hi,
Sorry for missing that information, we defined that in another config file and were using them.
So we'll remove the destination host from there and will use only the destination Realm. Let's hope this will solve the problem.

But I din't understand one point, how the initial connection is established with this configuration? It is working and we faced problem only in case of re-connection.

We

[2020-06-10 04:36] tdevinda commented on #155
Thanks a lot for this. I will look into this option as well. As of this moment we're sending the actual destination which the packet needs to go, in a custom AVP and then trying to replace those from the DRA.

[2020-07-20 20:43] janssk1 opened #157 "NPE when client reconnect to server while server is handling disconnect."
Scenario;
1. Client and server have a connection
2. Connection is suddenly lost, without proper cleanup
3. Client detects this, goes to REOPEN
4. Server detects this and goes to 'down' state
5. Client sends a CER after REOPEN timeout
6. Server detected connection loss and starts shutting down the peer threads. First thread that ends will already clear administraive objects such as the statistics.

[2020-07-29 14:19] StephenDwyer-kcom opened #158 "jDiameter doesn't differentiate between the various Disconnect-Cause AVPs when handling a Disconnect-Peer-Request"
According to RFC6733, sections 5.4.1.  Disconnect-Peer-Request and specifically 5.4.3.   Disconnect-Cause AVP, which is sent with the Disconnect-Peer-Request:

   Diameter node MUST include this AVP in the Disconnect-Peer-Request
   message to inform the peer of the reason for its intention to shut
   down the transport connection.  The following values are supported:

      REBOOTING

[2020-07-29 14:51] StephenDwyer-kcom commented on #158
Awaiting merge of Restcomm#156 before I raise a pull request for commit f5dfa15c0ff5443b509c03dd2335724bbf59f79c - due to the business constraints of delivering functionality, this work has been done in succession in order to deliver a jDiameter stack which meets our project's requirements.

[2020-07-30 09:01] PAiC-BD-Sales commented on #158
Hello @StephenDwyer-kcom ,

We would like to share with you our Extended DRA product sheet, our Extended DRA implements a core module on top of jDiameter.

We also offer support bundles that can be used for professional services as in support and/or extra development.

https://paicbd.com/blog/extended-dra/extended-dra-product-sheet/

Looking forward to hearing from you.

Best Regards,
PAiC BD Sale

[2020-07-30 09:12] StephenDwyer-kcom commented on #158
No sales communications please

[2020-08-13 11:06] AdnanMunir commented on #154
Hi @arifulislam2007 ,

i am facing the problem of connecting to diameter server as from the start i get this error :

org.jdiameter.api.RouteException: Unable to find valid connection to peer[aaa://15.185.219.107:3868] in realm[cgrates.org]

my cgrates server is on this instance 15.185.219.107 and diameter agent is running on 127.0.0.1:3868

i am attaching the files can you please point out what i

[2021-01-23 12:38] myrza-evgeniy opened #160 "Received message for unknown peer in the examples of test client/server"
I start the server side and the logs show start info is success.
I run the client side and  send the message to  server successfully.
But on the server side I receive these logs:

36603 [FSM-SPeer{Uri=aaa://127.0.0.1:61156; State=null; con=null; incConnull }_2-3] WARN  org.jdiameter.server.impl.PeerImpl  - Received message for unknown peer [aaa://127.0.0.1:3868]. Answering with 3002 (UNABLE_TO_DEL

[2021-02-01 16:31] jarekkosowski opened #162 "printStackTrace in ElementParser.java"
Hello,

One small request. Could you please remove e.printStackTrace() from  https://github.com/RestComm/jdiameter/blob/master/core/jdiameter/impl/src/main/java/org/jdiameter/client/impl/parser/ElementParser.java

line: 328

    catch (Exception e) {
      e.printStackTrace();
      logger.debug("Error during encode avps", e);
    }

I assume it shouldn't be there. And maybe log this exception wit

[2021-03-11 05:43] cyraid opened #163 "Is this repo dead?"
Sorry to be that guy, but is this repository abandoned? There's pull requests but nobody merging them?

[2021-10-05 10:06] matthias-p-nowak commented on #163
It seems so. There are spelling errors in naming. Some methods are outright misnomers, _createRequest_ returns a _Message_, _createUserDataRequest_ returns an _AppEvent_. An application needs to refer to the implementation part, hence a deployment in a container violates the implementation/api-separation principle. Some parts are only used by the test examples, but appear to be dead code inside th

[2021-10-05 10:31] cyraid commented on #163
Yeah. Kinda glad I made a C/C++ layer that interfaced with freediameter.

[2021-12-01 10:32] webjaym commented on #140
yes - that's correct
. In example, actually client-config.xml is server-config.xml .
 You can see correct client-xml-config values as https://github.com/RestComm/jdiameter/blob/master/core/jdiameter/impl/src/test/resources/jdiameter-weightedleastconnections-config.xml

[2021-12-02 06:58] webjaym commented on #120
Hi @albertpv / @gsaslis   : Did you get any solution for above issue? I am also looking for solution to same.

[2022-02-09 09:27] preetirani07 opened #164 "[Query] Jdiameter - HA Cluster Feature"
Hello all,
What kind of functionality does Jdiameter HA Cluster provide? Is it?
a. Multiple instances of Jdiameter Stack running which handles the requests in case of increased load. If yes, do these instances share storage? How are requests routed to one of the instances to be served?
OR
b.Is it beneficial for distributed environment like Kubernetes where a node acting as listener accepts the Dia

[2022-02-09 09:38] preetirani07 commented on #155
Yes this is possible.
**Modifications in the config file** : Add the Other Diameter node's realm(not DRA's realm) in the Realms.
and IP Port of the DRA in the Peers.

  <Network>
    <Peers>
      <Peer name="<DRA ip:port>" attempt_connect="false" rating="1" />
    </Peers>
    <Realms>
      <Realm name="<Other node's Realm>" peers="<DRA IP>" local_action="LOCAL" dynamic="false" exp_time="1">

[2022-02-10 10:12] tdevinda commented on #155
This would not work. Peers are statically configured. In my case, I was sending the messages to any telco operator in the world. But thanks for this. I think Stephen's and your answers are worthwhile trying out when I dive into diameter again. We closed this project using the DRA only.

[2022-03-22 06:05] webjaym opened #165 "IPv6 remote peer address support over jDiameter client stack"
Referring to  https://github.com/RestComm/jdiameter/tree/master/examples/guide1/src/main/resources/org/example/client/[client-jdiameter-config.xml](https://github.com/RestComm/jdiameter/blob/master/examples/guide1/src/main/resources/org/example/client/client-jdiameter-config.xml) , we need to use remote peer with IPv6 address. But, while using its giving

[main] DEBUG org.jdiameter.server.impl.Mut

[2022-03-22 08:02] nhanth87 commented on #165
https://groups.google.com/g/mobicents-public/c/TzfXopEX5zs/m/qdFXe_Rr-G8J?pli=1

Vào 01:05 PM, T.3, 22 Th3, 2022 webjaym ***@***.***> đã viết:

[2022-03-22 09:19] webjaym commented on #165
Thanks but your solution is not relevant over my problem. I have used IPv6 address inside square bracket.

[2022-03-30 07:13] webjaym commented on #165
This issue is resolved with using FQDN and IPv6 address behind that.

[2022-03-30 07:13] #165 closed

[2022-06-13 06:12] cholank opened #167 "Exchange-CER/CEA_afterTLSNegotiation"
Hi Team,
The Latest impl here has the implementation to establish the TLS negotiation once after the CER/CEA exchanges, is there any version to establish before CER/CEA Exchange ? Pls share the same.

Thanks,
Veera.

[2022-06-29 06:14] cholank commented on #167
Hi Team, is there any update where i can get RFC 6733 implementation

[2022-07-04 04:34] cholank commented on #167
Hi Team is there any update on the query @deruelle @jehanzebqayyum  please suggest on the query

[2022-08-21 14:27] #167 closed

[2022-08-21 14:28] cholank commented on #167
I had re engineered to support RFC 6733

[2022-10-26 19:59] killdashnine commented on #130
Hi, would you still accept a pull request for this? Just fixed the SCTP client part, still need to fix the network guard type.

So with my current patches I am able to create a connection to say a DRA with INIT containing multiple IPs and HB REQ/ACK work between primary and secondary IPs as expected.

I am expecting the network guard type (so for server sockets) to be a similar patch as the client

[2022-10-28 18:35] killdashnine commented on #25
Hi guys, just posted a pull request to fix this